Repository bcgov/citz-grs-dats, pull requests merged in 2024-08, with the labels that each got.

#201 added logic to update a note and save to s3
  backend/src/app.ts
  backend/src/controller/transfer-controller.ts
  backend/src/controller/upload-controller.ts
  backend/src/models/digitalFileList-model.ts
  backend/src/models/interfaces/IDigitalFileList.ts
  backend/src/repository/digitalFileList-repository.ts
  backend/src/service/File-service.ts
  backend/src/service/s3Client-service.ts
  desktop/shared/DATSCompanion.Shared/Models/MessageContract.cs
  desktop/winservice/Behaviors/ReceiveMessageFromReactBehavior.cs
  frontend/src/types/DTO/Interfaces/IDigitalFileListDTO.tsx
  frontend/src/views/SendRecords/components/TransferComponent.tsx
Labels: GRS-DATS API, GRS-DATS Frontend

#202 added edrms flow
  backend/package-lock.json
  backend/package.json
  backend/src/controller/upload-controller.ts
  backend/src/middleware/uploadDataportFile.ts
  backend/src/routes/upload-files-route.ts
  backend/src/service/data-extractor-service.ts
  backend/src/service/s3Client-service.ts
  backend/src/service/transfer-service.ts
  backend/src/utils/extractsFromAra66x.ts
  backend/yarn.lock
  desktop/DATSCompanionApps.sln
  desktop/TestApplication/Form1.Designer.cs
  desktop/TestApplication/Form1.cs
  desktop/TestApplication/Form1.resx
  desktop/TestApplication/Program.cs
  desktop/TestApplication/TestApplication.csproj
  frontend/src/App.tsx
  frontend/src/components/GenericStepper.tsx
  frontend/src/services/transferService.tsx
  frontend/src/services/uploadService.tsx
  frontend/src/views/SendRecords/SendRecordsEDRMS.tsx
  frontend/src/views/SendRecords/components/DataportTxtDropZone.tsx
  frontend/src/views/SendRecords/components/TransferComponent.tsx
Labels: GRS-DATS API, GRS-DATS Frontend

#203 Feature jlevesque psp creation
  backend/package-lock.json
  backend/package.json
  backend/src/controller/transfer-controller.ts
  backend/src/models/psp-model.ts
  backend/src/repository/transfer-repository.ts
  backend/src/service/File-service.ts
  backend/src/service/s3Client-service.ts
  backend/src/service/transfer-service.ts
  backend/src/utils/validateBufferChecksum.ts
  backend/src/utils/validateFileChecksum.ts
  backend/yarn.lock
  frontend/src/services/transferService.tsx
  frontend/src/views/ViewTransferStatus/TransferViewEdit.tsx
Labels: GRS-DATS API, GRS-DATS Frontend

#204 Update TransferViewEdit.tsx
  frontend/src/views/ViewTransferStatus/TransferViewEdit.tsx
Labels: GRS-DATS Frontend

#205 fix api endpoint
  frontend/src/utils/xlsxUtils.tsx
Labels: GRS-DATS Frontend

#211 Trying to get public static files in openshift
  backend/.docker/Dockerfile.prod
  backend/src/app.ts
  compose.yaml
  mongo-init/create-user.js
Labels: GRS-DATS API

#210 Feature jl logging review
  backend/src/service/File-service.ts
  backend/src/service/s3Client-service.ts
  frontend/src/views/ViewTransferStatus/TransferViewEdit.tsx
Labels: GRS-DATS API, GRS-DATS Frontend

#215 Feature jl view status redirect after Deleted
  frontend/src/views/ViewTransferStatus/TransferViewEdit.tsx
Labels: GRS-DATS Frontend

#216 fixed high priority issues
  backend/src/controller/transfer-controller.ts
  backend/src/controller/upload-controller.ts
  backend/src/service/data-extractor-service.ts
  frontend/src/utils/xlsxUtils.tsx
  frontend/src/views/CreateDigitalFileList/components/SelectFolder.tsx
  frontend/src/views/SendRecords/SendRecordsEDRMS.tsx
  frontend/src/views/SendRecords/components/Aris617DropZone.tsx
  frontend/src/views/SendRecords/components/TransferComponent.tsx
Labels: GRS-DATS API, GRS-DATS Frontend

#217 Docker and SSO fixes
  compose.yaml
  frontend/Dockerfile
  frontend/Dockerfile.dev
  frontend/Dockerfile.prod
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/layout/AppBar.tsx
  frontend/src/views/Dashboard/Dashboard.tsx
  frontend/src/views/LandingPage/Landing.tsx
  frontend/src/views/SendRecords/components/FoldersValidations.tsx
  frontend/tsconfig.json
  frontend/vite.config.ts
Labels: GRS-DATS Frontend

#219 Feature jl createpsp to s3
  backend/src/app.ts
  backend/src/config/smb2/index.ts
  backend/src/service/File-service.ts
  backend/src/service/s3Client-service.ts
  backend/src/utils/calculateHash.ts
  frontend/src/views/ViewTransferStatus/TransferViewEdit.tsx
Labels: GRS-DATS API, GRS-DATS Frontend

#220 Update app.ts
  backend/src/app.ts
Labels: GRS-DATS API

#221 Brady UI UX changes
  backend/package.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/Card/CardComponent.css
  frontend/src/components/Card/CardComponent.tsx
  frontend/src/components/layout/AppBar.tsx
  frontend/src/views/CreateDigitalFileList/SplashScreen.tsx
  frontend/src/views/Dashboard/Dashboard.tsx
  frontend/src/views/LandingPage/Landing.css
  frontend/src/views/LandingPage/Landing.tsx
  frontend/src/views/SendRecords/SendRecords.tsx
Labels: GRS-DATS API, GRS-DATS Frontend

#222 Removed session secret
  .env-template
  backend/src/app.ts
Labels: GRS-DATS API

#223 saveFolderDetails refactore
  backend/src/service/File-service.ts
  backend/src/service/transfer-service.ts
Labels: GRS-DATS API

#224 fix for displaying loader
  frontend/src/views/CreateDigitalFileList/components/SelectFolder.tsx
Labels: GRS-DATS Frontend

#225 UI/UX changes
  .env-template
  frontend/src/components/Card/CardComponent.tsx
  frontend/src/components/HealthCheck.tsx
  frontend/src/components/layout/AppBar.tsx
  frontend/src/index.tsx
  frontend/src/views/CreateDigitalFileList/CreateDigitalFileList.tsx
  frontend/src/views/CreateDigitalFileList/components/SelectFolder.tsx
  frontend/src/views/Dashboard/Dashboard.tsx
  frontend/src/views/LandingPage/Landing.css
  frontend/src/views/LandingPage/Landing.tsx
Labels: GRS-DATS Frontend

#229 Feature jl add t mv2 to excel
  backend/src/service/File-service.ts
  backend/src/service/s3Client-service.ts
Labels: GRS-DATS API

#230 Updated smb protocol to samba-client
  backend/.docker/Dockerfile.prod
  backend/package-lock.json
  backend/package.json
  backend/src/app.ts
  backend/src/config/smb/index.ts
  backend/src/config/smb2/index.ts
  backend/src/service/File-service.ts
Labels: GRS-DATS API

#232 Samba cache test
  backend/.docker/Dockerfile.prod
  backend/src/config/smb/index.ts
Labels: GRS-DATS API

#236 Update smb
  backend/src/config/smb/index.ts
Labels: GRS-DATS API

#239 Feature jl download aris update
  backend/src/controller/upload-controller.ts
  backend/src/models/digitalFileList-model.ts
  backend/src/models/interfaces/IDigitalFileList.ts
  backend/src/repository/digitalFileList-repository.ts
  backend/src/routes/upload-files-route.ts
  backend/src/service/File-service.ts
  backend/src/service/s3Client-service.ts
Labels: GRS-DATS API

#240 resolve 31 and add the Delete to the folderSend Datafilelist entity
  backend/src/controller/transfer-controller.ts
  backend/src/repository/digitalFileList-repository.ts
  backend/src/routes/transfer-route.ts
  backend/src/service/digitalFileList-service.ts
  frontend/src/services/transferService.tsx
  frontend/src/types/DTO/Interfaces/IDigitalFileListDTO.tsx
  frontend/src/views/SendRecords/SendRecordsLAN.tsx
  frontend/src/views/SendRecords/components/TransferComponent.tsx
  frontend/vite.config.ts
Labels: GRS-DATS API, GRS-DATS Frontend

#242 Feature jl sftp health check and Download Aris Update
  backend/package-lock.json
  backend/package.json
  backend/src/app.ts
  backend/src/config/ssh2-sftp-client/index.ts
  backend/src/controller/upload-controller.ts
  backend/src/service/File-service.ts
  frontend/src/services/uploadService.tsx
  frontend/src/views/SendRecords/SendRecordsLAN.tsx
  frontend/src/views/SendRecords/components/DownloadAris662Button.tsx
  frontend/src/views/SendRecords/components/TransferComponent.tsx
Labels: GRS-DATS API, GRS-DATS Frontend

#245 refactor
  frontend/src/views/ViewTransferStatus/TransferViewEdit.tsx
  frontend/vite.config.ts
Labels: GRS-DATS Frontend

#246 Update TransferViewEdit.tsx
  frontend/src/views/ViewTransferStatus/TransferViewEdit.tsx
Labels: GRS-DATS Frontend

#247 Update upload-files-route.ts
  backend/src/routes/upload-files-route.ts
Labels: GRS-DATS API

#248 Update xlsxUtils.tsx to valdate the Technical Metadatas V1 sheet
  frontend/src/utils/xlsxUtils.tsx
Labels: GRS-DATS Frontend

#249 SSO and UI changes
  backend/.docker/Dockerfile.prod
  backend/package-lock.json
  backend/package.json
  backend/src/app.ts
  backend/src/types/custom-types.d.ts
  backend/tsconfig.json
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/auth/PrivateRoute.tsx
  frontend/src/components/layout/AppBar.tsx
  frontend/src/index.css
  frontend/src/index.tsx
  frontend/src/react-app-env.d.ts
  frontend/src/views/CreateDigitalFileList/CreateDigitalFileList.tsx
  frontend/src/views/CreateDigitalFileList/SplashScreen.tsx
  frontend/src/views/CreateDigitalFileList/components/DigitalfileListGrid.tsx
  frontend/src/views/CreateDigitalFileList/components/SelectFolder.tsx
  frontend/src/views/Dashboard/Dashboard.tsx
  frontend/src/views/LandingPage/Landing.css
  frontend/src/views/SendRecords/SendRecords.tsx
  frontend/src/views/SendRecords/SendRecordsEDRMS.tsx
  frontend/src/views/SendRecords/SendRecordsLAN.tsx
  frontend/src/views/SendRecords/components/TransferComponent.tsx
  frontend/src/views/ViewTransferStatus/TransferStatusView.tsx
  frontend/src/views/ViewTransferStatus/TransferViewEdit.tsx
  frontend/src/views/ViewTransferStatus/components/TransfersGrid.tsx
  frontend/src/views/ViewTransferStatus/components/TransfersTable.tsx
  package-lock.json
Labels: GRS-DATS API, GRS-DATS Frontend

#250 Refactor EDRMS route to S3
  backend/src/controller/upload-controller.ts
  backend/src/middleware/uploadFileToS3.ts
  backend/src/routes/upload-files-route.ts
  backend/src/service/data-extractor-service.ts
  backend/src/service/s3Client-service.ts
  frontend/src/views/SendRecords/components/DataportTxtDropZone.tsx
Labels: GRS-DATS API, GRS-DATS Frontend

#251 Correction and refactor for the Upload to S3
  backend/src/controller/upload-controller.ts
  backend/src/routes/upload-files-route.ts
  frontend/src/services/uploadService.tsx
  frontend/src/views/SendRecords/SendRecordsEDRMS.tsx
  frontend/src/views/SendRecords/SendRecordsLAN.tsx
Labels: GRS-DATS API, GRS-DATS Frontend

#252 Update digital-file-list-template.xlsx
  backend/src/public/digital-file-list-template.xlsx
Labels: GRS-DATS API

#253 Add admin Metadata to folder
  backend/src/repository/transfer-repository.ts
  backend/src/service/File-service.ts
  backend/src/service/s3Client-service.ts
Labels: GRS-DATS API

#254 moved uploading code to desktop + changes to react
  desktop/WindowsService-binaries.zip
  desktop/desktop-binaries.zip
  desktop/shared/DATSCompanion.Shared/Models/Constants.cs
  desktop/shared/DATSCompanion.Shared/Models/MessageContract.cs
  desktop/winforms/DATSCompanionApp.csproj
  desktop/winforms/Form1.Designer.cs
  desktop/winforms/Form1.cs
  desktop/winforms/Form1.resx
  desktop/winforms/Handler/ProgressableStreamContent.cs
  desktop/winforms/Helpers/TechnicalMetadataGenerator.cs
  desktop/winforms/Helpers/ZipHelper.cs
  desktop/winforms/IServiceCommunicator.cs
  desktop/winforms/Properties/Resources.Designer.cs
  desktop/winforms/Properties/Resources.resx
  desktop/winforms/WebSocketServerCommunicator.cs
  desktop/winforms/WebSocketServiceCommunicator.cs
  desktop/winservice/Behaviors/ReceiveMessageFromDesktopBehavior.cs
  frontend/src/utils/compressUtils.tsx
  frontend/src/views/SendRecords/SendRecordsLAN.tsx
  frontend/src/views/SendRecords/components/TransferComponent.tsx
Labels: GRS-DATS Frontend

#258 Transfer UI
  frontend/src/views/SendRecords/SendRecordsLAN.tsx
  frontend/src/views/SendRecords/components/TransferComponent.tsx
Labels: GRS-DATS Frontend

#255 SFTP transfer
  backend/package-lock.json
  backend/src/config/ssh2-sftp-client/index.ts
  backend/src/controller/upload-controller.ts
  backend/src/service/File-service.ts
  backend/src/service/digitalFileList-service.ts
Labels: GRS-DATS API

#260 Fix psp creation
  backend/src/service/File-service.ts
Labels: GRS-DATS API

#259 Updated transfer component upload ui
  frontend/src/assets/images/pointer.svg
  frontend/src/views/SendRecords/components/TransferComponent.tsx
Labels: GRS-DATS Frontend

#261 SFTP transfer
  backend/src/app.ts
  backend/src/config/ssh2-sftp-client/index.ts
  backend/src/service/File-service.ts
Labels: GRS-DATS API

#262 Update CODEOWNERS
  .github/workflows/CODEOWNERS
Labels: Github Actions

#263 Updated transfer component UI
  frontend/src/views/SendRecords/components/TransferComponent.tsx
Labels: GRS-DATS Frontend

#264 changes for edrms flow
  backend/src/service/data-extractor-service.ts
  desktop/shared/DATSCompanion.Shared/Models/MessageContract.cs
  desktop/winforms/Form1.cs
  desktop/winforms/Helpers/FileUploadHelper.cs
  desktop/winforms/Helpers/TechnicalMetadataGenerator.cs
  desktop/winforms/Helpers/ZipHelper.cs
  desktop/winforms/IServiceCommunicator.cs
  desktop/winforms/WebSocketServerCommunicator.cs
  desktop/winforms/WebSocketServiceCommunicator.cs
  frontend/src/utils/xlsxUtils.tsx
  frontend/src/views/CreateDigitalFileList/CreateDigitalFileList.tsx
  frontend/src/views/SendRecords/SendRecordsEDRMS.tsx
  frontend/src/views/SendRecords/SendRecordsLAN.tsx
  frontend/src/views/SendRecords/components/TransferComponent.tsx
Labels: GRS-DATS API, GRS-DATS Frontend
