Repository bcgov/citz-grs-dats, pull requests merged in 2024-07, with the labels that each got.

#128 Removing references to VITE_API_URL
  frontend/src/auth/AuthContext.tsx
  frontend/src/services/authService.tsx
  frontend/src/services/transferService.tsx
  frontend/src/services/uploadService.tsx
  frontend/src/utils/xlsxUtils.tsx
  frontend/src/views/SendRecords/components/TransferComponent.tsx
  frontend/vite.config.ts
Labels: DO NOT MERGE

#148 Testing Image Build
  backend/src/index.ts
Labels: GRS-DATS API

#151 Update File Path to Run Python Script
  .github/workflows/dev-api-image-build.yaml
Labels: Github Actions

#155 Troubleshooting Update Wiki Table
  backend/src/index.ts
Labels: GRS-DATS API

#159 Troubleshooting App Image Build Wiki Update
  frontend/index.html
Labels: GRS-DATS Frontend

#163 Dev
  backend/package-lock.json
  backend/package.json
  backend/src/app.ts
  backend/src/config/database/database.ts
  backend/src/config/logs/winston-config.ts
  backend/src/controller/upload-controller.ts
  backend/yarn.lock
  frontend/src/services/serverUrlService.tsx
  frontend/src/views/CreateDigitalFileList/components/SelectFolder.tsx
  frontend/src/views/SendRecords/SendRecordsLAN.tsx
  frontend/src/views/SendRecords/components/TransferComponent.tsx
Labels: GRS-DATS API, GRS-DATS Frontend

#164 Add psp and clean up
  backend/src/app.ts
  backend/src/controller/digitalFile-controller.ts
  backend/src/controller/upload-controller.ts
  backend/src/models/digitalFile-model.ts
  backend/src/models/digitalFileList-model.ts
  backend/src/models/digitalObject-model.ts
  backend/src/models/enums/EHttpMethod.ts
  backend/src/models/interfaces/IDigitalFile.ts
  backend/src/models/interfaces/IDigitalFileList.ts
  backend/src/models/interfaces/IDigitalObject.ts
  backend/src/models/interfaces/IPsp.ts
  backend/src/models/interfaces/ITransfer.ts
  backend/src/models/transfer-model.ts
  backend/src/routes/digital-file-route.ts
  backend/src/service/digitalFile-service.ts
  backend/src/service/index.ts
  backend/src/service/math.ts
  frontend/src/types/DTO/Interfaces/IDigitalFileListGridData.tsx
  frontend/src/types/DTO/Interfaces/IPspsDTO.tsx
  frontend/src/types/DTO/Interfaces/ITransferDTO.tsx
  frontend/src/types/Enums/EHttpMethod.tsx
Labels: GRS-DATS API, GRS-DATS Frontend

#165 Dev
  backend/src/app.ts
  backend/src/controller/digitalFile-controller.ts
  backend/src/controller/upload-controller.ts
  backend/src/models/digitalFile-model.ts
  backend/src/models/digitalFileList-model.ts
  backend/src/models/digitalObject-model.ts
  backend/src/models/enums/EHttpMethod.ts
  backend/src/models/interfaces/IDigitalFile.ts
  backend/src/models/interfaces/IDigitalFileList.ts
  backend/src/models/interfaces/IDigitalObject.ts
  backend/src/models/interfaces/IPsp.ts
  backend/src/models/interfaces/ITransfer.ts
  backend/src/models/transfer-model.ts
  backend/src/repository/digitalList-repository.ts
  backend/src/routes/digital-file-route.ts
  backend/src/service/digitalFile-service.ts
  backend/src/service/index.ts
  backend/src/service/math.ts
  frontend/src/types/DTO/Interfaces/IDigitalFileListGridData.tsx
  frontend/src/types/DTO/Interfaces/IPspsDTO.tsx
  frontend/src/types/DTO/Interfaces/ITransferDTO.tsx
  frontend/src/types/Enums/EHttpMethod.tsx
Labels: GRS-DATS API, GRS-DATS Frontend

#169 Feature psp in transfer
  backend/src/controller/upload-controller.ts
  backend/src/models/interfaces/IPsp.ts
  backend/src/models/psp-model.ts
  backend/src/repository/psp-repository.ts
  backend/src/repository/user-repository.ts
  backend/src/service/File-service.ts
  backend/src/service/s3Client-service.ts
  backend/src/service/transfer-service.ts
Labels: GRS-DATS API

#171 Adjust the controller
  backend/src/controller/upload-controller.ts
  backend/src/service/File-service.ts
Labels: GRS-DATS API

#174 store V2 in metadata and refactor
  backend/src/repository/psp-repository.ts
  backend/src/service/File-service.ts
  backend/src/service/s3Client-service.ts
  backend/src/service/transfer-service.ts
  backend/src/utils/createTechnicalV2fromJson.ts
  backend/src/utils/exctractTechnicalV1DatafromExcel.ts
Labels: GRS-DATS API

#172 Dev
  backend/src/controller/upload-controller.ts
  backend/src/models/interfaces/IPsp.ts
  backend/src/models/psp-model.ts
  backend/src/repository/psp-repository.ts
  backend/src/repository/user-repository.ts
  backend/src/service/File-service.ts
  backend/src/service/s3Client-service.ts
  backend/src/service/transfer-service.ts
  backend/src/utils/createTechnicalV2fromJson.ts
  backend/src/utils/exctractTechnicalV1DatafromExcel.ts
Labels: GRS-DATS API

#175 fix + cleanup
  backend/src/repository/transfer-repository.ts
  frontend/src/auth/PrivateRoute.tsx
  frontend/src/components/layout/AppBar.tsx
  frontend/src/services/transferService.tsx
  frontend/src/services/uploadService.tsx
  frontend/src/utils/xlsxUtils.tsx
  frontend/src/views/CreateDigitalFileList/components/DropZoneComponent.tsx
  frontend/src/views/SendRecords/components/Aris66xDropZone.tsx
  frontend/src/views/SendRecords/components/FileUploadComponent.tsx
  frontend/src/views/SendRecords/components/TransferComponent.tsx
Labels: GRS-DATS API, GRS-DATS Frontend

#177 Dev
  backend/src/repository/transfer-repository.ts
  backend/src/service/File-service.ts
  backend/src/service/s3Client-service.ts
  backend/src/service/transfer-service.ts
  backend/src/utils/validateFileChecksum.ts
Labels: GRS-DATS API

#178 Add Psp management
  backend/src/models/psp-model.ts
  backend/src/models/transfer-model.ts
  backend/src/repository/psp-repository.ts
  backend/src/service/File-service.ts
  backend/src/service/transfer-service.ts
Labels: GRS-DATS API

#179 S3 metadatas storage
  backend/src/service/File-service.ts
  backend/src/service/s3Client-service.ts
Labels: GRS-DATS API

#180 added feedback changes
  frontend/src/components/Card/CardComponent.tsx
  frontend/src/components/DropZoneComponent.tsx
  frontend/src/components/layout/AppBar.tsx
  frontend/src/views/CreateDigitalFileList/CreateDigitalFileList.tsx
  frontend/src/views/CreateDigitalFileList/components/SelectFolder.tsx
  frontend/src/views/Dashboard/Dashboard.tsx
  frontend/src/views/LandingPage/Landing.tsx
  frontend/src/views/SendRecords/SendRecords.tsx
  frontend/src/views/SendRecords/SendRecordsLAN.tsx
  frontend/src/views/SendRecords/components/Aris66xDropZone.tsx
Labels: GRS-DATS Frontend

#184 Update update-image-tag-api-dev.yaml
  .github/workflows/update-image-tag-api-dev.yaml
Labels: Github Actions

#187 Troubleshooting deployment to TEST
  backend/src/index.ts
Labels: GRS-DATS API

#189 Update update-image-tag-frontend-dev.yaml
  .github/workflows/update-image-tag-frontend-dev.yaml
Labels: Github Actions

#190 Troubleshooting Frontend Promotion to TEST
  frontend/index.html
Labels: GRS-DATS Frontend

#191 Update update-image-tag-frontend-test.yaml
  .github/workflows/update-image-tag-frontend-test.yaml
Labels: Github Actions

#192 Promote API Image Tag to PROD
  .github/workflows/update-image-tag-api-prod.yaml
Labels: Github Actions

#193 Promote Frontend Image Tag to PROD
  .github/workflows/update-image-tag-frontend-prod.yaml
Labels: Github Actions

#194 Dependency management actions
  .github/config/dep-report.json5
  .github/config/vulnerability-report.json5
  .github/helpers/github-api/create-and-close-existing-issue.mjs
  .github/helpers/github-api/github-api-requests.mjs
  .github/helpers/npm-audit/create-report-issues.cjs
  .github/helpers/npm-audit/create-report.cjs
  .github/helpers/npm-audit/enhance-vulnerability-list.cjs
  .github/helpers/npm-audit/find-direct-dependencies.cjs
  .github/helpers/npm-audit/find-indirect-vulnerable-deps.cjs
  .github/helpers/npm-audit/get-latest-dep-info.cjs
  .github/helpers/npm-audit/is-fix-available.cjs
  .github/helpers/npm-audit/parse-npm-vulnerabilities.cjs
  .github/helpers/npm-audit/run-npm-audit.cjs
  .github/helpers/npm-deps/create-report-issues.cjs
  .github/helpers/npm-deps/create-report.cjs
  .github/helpers/npm-deps/parse-npm-deps.cjs
  .github/helpers/parse-json5-config.cjs
  .github/workflows/npm-audit-report.yaml
  .github/workflows/npm-dep-report.yaml
Labels: Github Actions

#197 added fixes from issue register
  frontend/src/utils/xlsxUtils.tsx
  frontend/src/views/SendRecords/SendRecordsEDRMS.tsx
  frontend/src/views/SendRecords/SendRecordsLAN.tsx
  frontend/src/views/SendRecords/components/Aris617DropZone.tsx
  frontend/src/views/SendRecords/components/Aris66xDropZone.tsx
  frontend/src/views/SendRecords/components/TransferComponent.tsx
  frontend/src/views/SendRecords/components/submissionAgreement.tsx
Labels: GRS-DATS Frontend

#198 added new react component to manage healtch checks
  desktop/shared/DATSCompanion.Shared/Models/MessageContract.cs
  desktop/winservice/Behaviors/ReceiveMessageFromReactBehavior.cs
  frontend/src/components/HealthCheck.tsx
  frontend/src/components/layout/AppBar.tsx
  frontend/src/types/constants.tsx
  frontend/src/views/CreateDigitalFileList/components/SelectFolder.tsx
  frontend/src/views/SendRecords/components/TransferComponent.tsx
Labels: GRS-DATS Frontend
