Repository bcgov/citz-grs-dats, pull requests merged in 2024-11, with the labels that each got.

#310 DAP-968: Worker error handling fix
  desktop/src/main/fileProcessing/WorkerPool.ts
  desktop/src/main/fileProcessing/workers/copyWorker.ts
Labels: APP

#312 Added SideNav
  README.md
  desktop/package.json
  desktop/src/main/index.ts
  desktop/src/renderer/src/App.tsx
  desktop/src/renderer/src/assets/base.css
  desktop/src/renderer/src/assets/main.css
  desktop/src/renderer/src/components/SideNav.tsx
  desktop/src/renderer/src/components/index.ts
  desktop/src/renderer/src/main.tsx
  desktop/src/renderer/src/pages/FileList.tsx
  desktop/src/renderer/src/pages/Home.tsx
  desktop/src/renderer/src/pages/SendRecords.tsx
  desktop/src/renderer/src/pages/index.ts
  desktop/src/renderer/src/theme.ts
Labels: APP

#313 DAP-992: Added login button to nav
  desktop/src/renderer/src/App.tsx
  desktop/src/renderer/src/components/AuthButton.tsx
  desktop/src/renderer/src/components/SideNav.tsx
Labels: APP

#314 DAP-988: Added progress to workers
  desktop/src/main/fileProcessing/WorkerPool.ts
  desktop/src/main/fileProcessing/processFolder.ts
  desktop/src/main/fileProcessing/workers/copyWorker.ts
  desktop/src/main/fileProcessing/workers/metadataWorker.ts
  desktop/src/renderer/src/pages/Home.tsx
Labels: APP

#315 DAP-977: Folder Data Grid/Table
  desktop/package.json
  desktop/src/main/index.ts
  desktop/src/renderer/src/App.tsx
  desktop/src/renderer/src/assets/main.css
  desktop/src/renderer/src/components/file-list/FolderDisplayGrid.tsx
  desktop/src/renderer/src/components/file-list/index.ts
  desktop/src/renderer/src/pages/FileList.tsx
Labels: APP

#316 DAP-980: processFolder modifications
  desktop/src/main/fileProcessing/actions/copyFolderAndMetadata.ts
  desktop/src/main/fileProcessing/actions/getFolderMetadata.ts
  desktop/src/main/fileProcessing/actions/index.ts
  desktop/src/main/fileProcessing/index.ts
  desktop/src/main/fileProcessing/workers/copyWorker.ts
  desktop/src/main/fileProcessing/workers/metadataWorker.ts
  desktop/src/main/index.ts
  desktop/src/preload/index.d.ts
  desktop/src/preload/index.ts
  desktop/src/renderer/src/components/ProcessFolderButton.tsx
Labels: APP

#318 DAP-983: Create file list endpoint
  backend/jest.config.js
  backend/src/express.ts
  backend/src/modules/filelist/controllers/create.ts
  backend/src/modules/filelist/controllers/index.ts
  backend/src/modules/filelist/entities/filelist.ts
  backend/src/modules/filelist/entities/index.ts
  backend/src/modules/filelist/index.ts
  backend/src/modules/filelist/router.ts
  backend/src/modules/filelist/schemas/create.ts
  backend/src/modules/filelist/schemas/index.ts
  backend/src/modules/filelist/schemas/metadata.ts
  backend/src/modules/filelist/services/filelist.ts
  backend/src/modules/filelist/services/index.ts
  backend/src/modules/index.ts
  backend/src/modules/rabbit/utils/connection.ts
  backend/src/modules/rabbit/utils/index.ts
  backend/src/modules/rabbit/utils/queue/filelist.ts
  backend/src/modules/rabbit/utils/queue/index.ts
  backend/src/modules/rabbit/utils/queue/test.ts
  backend/src/modules/transfer/entities/index.ts
  backend/src/modules/transfer/entities/transfer.ts
  backend/src/modules/transfer/services/index.ts
  backend/src/modules/transfer/services/transfer.ts
  backend/tests/modules/filelist/controllers/create.test.ts
  backend/tests/modules/filelist/entities/filelist.test.ts
  backend/tests/modules/filelist/router.test.ts
  backend/tests/modules/filelist/schemas/create.test.ts
  backend/tests/modules/filelist/schemas/metadata.test.ts
  backend/tests/modules/transfer/entities/transfer.test.ts
Labels: API

#311 DAP-938: Desktop App Releases
  .github/workflows/desktop-release.yaml
  desktop/bump-version.js
  desktop/package.json
  desktop/src/main/index.ts
Labels: Actions, APP

#321 Removes escapes on `echo` cmd in workflow.
  .github/workflows/desktop-release.yaml
Labels: Actions

#325 Copy token to clipboard
  desktop/package.json
  desktop/src/main/index.ts
  desktop/src/renderer/src/App.tsx
Labels: APP

#327 Specifies desktop/package.json in desk app release wf.
  .github/workflows/desktop-release.yaml
Labels: Actions

#323 DAP-984: JSON format file
  backend/src/modules/filelist/controllers/test.ts
  backend/src/modules/filelist/entities/filelist.ts
  backend/src/modules/filelist/schemas/create.ts
  backend/src/modules/filelist/schemas/filelist.ts
  backend/src/modules/filelist/schemas/index.ts
  backend/src/modules/filelist/services/filelist.ts
  backend/src/modules/filelist/utils/createJsonFileList.ts
  backend/src/modules/filelist/utils/excel/addFileMetadata.ts
  backend/src/modules/filelist/utils/excel/addFolderData.ts
  backend/src/modules/filelist/utils/index.ts
  backend/src/utils/formatDate.ts
  backend/src/utils/index.ts
  backend/tests/modules/filelist/controllers/create.test.ts
  backend/tests/modules/filelist/controllers/test.test.ts
  backend/tests/modules/filelist/entities/filelist.test.ts
  backend/tests/modules/filelist/schemas/create.test.ts
  backend/tests/modules/filelist/utils/createJsonFileList.test.ts
Labels: API

#319 Dap-978 Add Folder Button to Create File List Page
  desktop/src/main/fileProcessing/actions/index.ts
  desktop/src/main/fileProcessing/actions/selectDirectory.ts
  desktop/src/main/index.ts
  desktop/src/preload/index.d.ts
  desktop/src/preload/index.ts
  desktop/src/renderer/src/assets/base.css
  desktop/src/renderer/src/assets/main.css
  desktop/src/renderer/src/components/file-list/ContinueButton.tsx
  desktop/src/renderer/src/components/file-list/FolderDisplayGrid.tsx
  desktop/src/renderer/src/components/file-list/SelectFolderButton.tsx
  desktop/src/renderer/src/components/file-list/index.ts
  desktop/src/renderer/src/pages/FileList.tsx
Labels: APP

#326 DAP-986: File list consumer
  backend/README.md
  backend/jest.config.js
  backend/src/modules/filelist/controllers/create.ts
  backend/src/modules/filelist/controllers/test.ts
  backend/src/modules/filelist/entities/filelist.ts
  backend/src/modules/filelist/services/filelist.ts
  backend/src/modules/filelist/utils/createJsonFileList.ts
  backend/src/modules/filelist/utils/email.ts
  backend/src/modules/filelist/utils/index.ts
  backend/src/modules/filelist/utils/queueConsumer.ts
  backend/src/modules/rabbit/utils/queue/filelist.ts
  backend/tests/modules/ches/controllers/email/test.test.ts
  backend/tests/modules/filelist/controllers/test.test.ts
  backend/tests/modules/filelist/utils/createJsonFileList.test.ts
Labels: API

#328 DaAP-997: Capture metadata in File List page
  desktop/src/main/fileProcessing/WorkerPool.ts
  desktop/src/main/fileProcessing/actions/getFolderMetadata.ts
  desktop/src/main/fileProcessing/workers/copyWorker.ts
  desktop/src/main/fileProcessing/workers/metadataWorker.ts
  desktop/src/main/index.ts
  desktop/src/preload/index.d.ts
  desktop/src/preload/index.ts
  desktop/src/renderer/src/components/ProcessFolderButton.tsx
  desktop/src/renderer/src/components/index.ts
  desktop/src/renderer/src/pages/FileList.tsx
  desktop/src/renderer/src/pages/Home.tsx
Labels: APP

#330 Adds a typescript compile check in desk app wf.
  .github/workflows/desktop-release.yaml
Labels: Actions

#331 Refactor TS error check to separate job.
  .github/workflows/desktop-release.yaml
Labels: Actions

#334 Removes cache field from node setup.
  .github/workflows/desktop-release.yaml
Labels: Actions

#335 Adds PR auto assignment.
  .github/workflows/config/auto-assign-config.yaml
  .github/workflows/pr-auto-assign.yaml
Labels: Actions

#339 Fix PR Auto Assign & CODEOWNERS
  .github/CODEOWNERS
  .github/config/auto-assign-config.yaml
  .github/workflows/pr-auto-assign.yaml
Labels: Actions

#329 DAP-996: Copy down & row edit saving
  desktop/src/renderer/src/assets/base.css
  desktop/src/renderer/src/components/file-list/FolderDisplayGrid.tsx
  desktop/src/renderer/src/pages/FileList.tsx
Labels: APP

#340 DAP-999: Removed filelist test endpoint
  backend/src/modules/filelist/controllers/index.ts
  backend/src/modules/filelist/controllers/test.ts
  backend/src/modules/filelist/router.ts
  backend/tests/modules/filelist/controllers/test.test.ts
  backend/tests/modules/filelist/router.test.ts
Labels: API

#345 DAP-995: Require login + home page
  desktop/src/renderer/src/App.tsx
  desktop/src/renderer/src/components/SideNav.tsx
  desktop/src/renderer/src/pages/Home.tsx
  desktop/src/renderer/src/theme.ts
Labels: APP

#344 DAP-1005: Format Date as YYYY-MM-DD
  backend/README.md
  backend/src/modules/filelist/utils/excel/worksheets/metadata.ts
  backend/src/modules/filelist/utils/queueConsumer.ts
  backend/src/utils/formatDate.ts
  backend/tests/utils/formatDate.test.ts
  desktop/src/renderer/src/components/file-list/FolderDisplayGrid.tsx
Labels: API, APP

#347 DAP-1000: Fix empty row bug
  desktop/src/renderer/src/pages/FileList.tsx
Labels: APP

#348 DAP-1006: Updated email template
  backend/src/modules/filelist/utils/email.ts
  backend/src/modules/filelist/utils/queueConsumer.ts
  desktop/src/renderer/src/pages/Home.tsx
Labels: API, APP

#346 DAP-979 Continue File List
  desktop/src/renderer/src/App.tsx
  desktop/src/renderer/src/assets/base.css
  desktop/src/renderer/src/assets/main.css
  desktop/src/renderer/src/components/file-list/ContinueButton.tsx
  desktop/src/renderer/src/components/file-list/ContinueModal.tsx
  desktop/src/renderer/src/components/file-list/index.ts
  desktop/src/renderer/src/pages/FileList.tsx
Labels: APP

#349 Adds 'Install wine' step to desk app build job.
  .github/workflows/desktop-release.yaml
Labels: Actions

#350 Adds 'sudo' to desk app wf.
  .github/workflows/desktop-release.yaml
Labels: Actions

#352 Removes `wine32` install from desk app wf.
  .github/workflows/desktop-release.yaml
Labels: Actions

#353 Adds dmg-license to dep install in desk app wf.
  .github/workflows/desktop-release.yaml
Labels: Actions

#354 Implements OS specific deps. installs in desk wf.
  .github/workflows/desktop-release.yaml
  desktop/package.json
Labels: Actions, APP

#358 Specifies shell for wine install.
  .github/workflows/desktop-release.yaml
Labels: Actions

#359 Changes condition & cmd for windows build.
  .github/workflows/desktop-release.yaml
Labels: Actions

#362 Downloads build artifacts for release upload.
  .github/workflows/desktop-release.yaml
Labels: Actions

#363 Electron Publish WF Changes
  .github/workflows/desktop-release.yaml
Labels: Actions

#364 Adds to publish step download.
  .github/workflows/desktop-release.yaml
Labels: Actions

#365 Makes uploaded artifact names unique.
  .github/workflows/desktop-release.yaml
Labels: Actions

#366 Attempts to make the build artifact names unique.
  .github/workflows/desktop-release.yaml
Labels: Actions

#368 Trys AGAIN to make the build artifact name unique.
  .github/workflows/desktop-release.yaml
Labels: Actions

#369 Trys to ACTUALLY upload the artifacts to release.
  .github/workflows/desktop-release.yaml
Labels: Actions

#372 Replaces wildcard pattern w/ `find` cmd method
  .github/workflows/desktop-release.yaml
Labels: Actions

#374 Reverts recent file upload pattern change
  .github/workflows/desktop-release.yaml
Labels: Actions
