Repository bcgov/citz-grs-dats, pull requests merged in 2024-10, with the labels that each got.

#292 DAP-893: Init Build Tag Push Github Action
  .github/workflows/api-build-tag-push.yaml
Labels: Actions

#294 TESTING API IMAGE BUILD
  .github/workflows/api-build-tag-push.yaml
  backend/src/index.ts
Labels: Actions, API

#296 DAP-902: Client side VPN check
  desktop/biome.json
  desktop/package.json
  desktop/src/main/index.ts
  desktop/src/preload/api/checkAPIStatus.ts
  desktop/src/preload/api/checkIPRange.ts
  desktop/src/preload/api/index.ts
  desktop/src/preload/index.d.ts
  desktop/src/preload/index.ts
  desktop/src/renderer/index.html
  desktop/src/renderer/src/App.tsx
  desktop/src/renderer/src/assets/main.css
  desktop/src/renderer/src/components/VPNPopup.tsx
  desktop/src/renderer/src/components/Versions.tsx
  desktop/src/renderer/src/components/index.ts
Labels: APP

#297 DAP-903: Single sign on functionality
  .env-template
  .gitignore
  backend/docker/Dockerfile
  backend/docker/Dockerfile.prod
  backend/jest.config.js
  backend/nodemon.json
  backend/package.json
  backend/src/config/env.ts
  backend/src/express.ts
  backend/src/index.ts
  backend/src/modules/auth/controllers/index.ts
  backend/src/modules/auth/controllers/login.ts
  backend/src/modules/auth/controllers/loginCallback.ts
  backend/src/modules/auth/controllers/logout.ts
  backend/src/modules/auth/controllers/logoutCallback.ts
  backend/src/modules/auth/controllers/token.ts
  backend/src/modules/auth/index.ts
  backend/src/modules/auth/middleware.ts
  backend/src/modules/auth/router.ts
  backend/src/modules/index.ts
  backend/tests/modules/auth/controllers/login.test.ts
  backend/tests/modules/auth/controllers/loginCallback.test.ts
  backend/tests/modules/auth/controllers/logout.test.ts
  backend/tests/modules/auth/controllers/logoutCallback.test.ts
  backend/tests/modules/auth/controllers/token.test.ts
  backend/tests/modules/auth/middleware.test.ts
  backend/tests/modules/auth/router.test.ts
  backend/tests/utils/logs.test.ts
  backend/tsconfig.json
  biome.json
  compose.yaml
  desktop/biome.json
  desktop/package.json
  desktop/src/main/index.ts
  desktop/src/preload/api/fetchProtectedRoute.ts
  desktop/src/preload/api/getUser.ts
  desktop/src/preload/api/index.ts
  desktop/src/preload/api/safePromise.ts
  desktop/src/preload/index.d.ts
  desktop/src/preload/index.ts
  desktop/src/renderer/src/App.tsx
  package.json
Labels: API, APP

#298 DAP-942: Test queue
  .env-template
  backend/jest.config.js
  backend/package.json
  backend/src/config/env.ts
  backend/src/express.ts
  backend/src/modules/index.ts
  backend/src/modules/rabbit/controllers/addToRabbitQueue.ts
  backend/src/modules/rabbit/controllers/index.ts
  backend/src/modules/rabbit/index.ts
  backend/src/modules/rabbit/queue.ts
  backend/src/modules/rabbit/router.ts
  backend/tests/modules/rabbit/controllers/addToRabbitQueue.test.ts
  backend/tests/modules/rabbit/router.test.ts
  compose.yaml
  desktop/src/renderer/src/App.tsx
Labels: API, APP

#299 DAP-943: S3 connection test
  .env-template
  backend/jest.config.js
  backend/package.json
  backend/src/config/env.ts
  backend/src/express.ts
  backend/src/modules/auth/controllers/login.ts
  backend/src/modules/auth/controllers/loginCallback.ts
  backend/src/modules/auth/controllers/logout.ts
  backend/src/modules/auth/controllers/token.ts
  backend/src/modules/auth/middleware.ts
  backend/src/modules/index.ts
  backend/src/modules/rabbit/controllers/addToRabbitQueue.ts
  backend/src/modules/rabbit/controllers/addToTestQueue.ts
  backend/src/modules/rabbit/controllers/index.ts
  backend/src/modules/rabbit/router.ts
  backend/src/modules/s3/controllers/health.ts
  backend/src/modules/s3/controllers/index.ts
  backend/src/modules/s3/index.ts
  backend/src/modules/s3/router.ts
  backend/src/modules/s3/utils/connection.ts
  backend/src/modules/s3/utils/index.ts
  backend/tests/modules/auth/controllers/login.test.ts
  backend/tests/modules/auth/controllers/loginCallback.test.ts
  backend/tests/modules/auth/controllers/logout.test.ts
  backend/tests/modules/auth/controllers/token.test.ts
  backend/tests/modules/auth/middleware.test.ts
  backend/tests/modules/rabbit/controllers/addToRabbitQueue.test.ts
  backend/tests/modules/rabbit/controllers/addToTestQueue.test.ts
  backend/tests/modules/rabbit/router.test.ts
  backend/tests/modules/s3/controllers/health.test.ts
  backend/tests/modules/s3/router.test.ts
Labels: API

#300 DAP-961: API URL config
  README.md
  desktop/src/main/index.ts
  desktop/src/preload/api/checkAPIStatus.ts
  desktop/src/preload/index.d.ts
  desktop/src/preload/index.ts
  desktop/src/renderer/src/App.tsx
Labels: APP

#302 Refactor preload and AuthButton
  desktop/src/preload/api/index.ts
  desktop/src/preload/api/sso/fetchProtectedRoute.ts
  desktop/src/preload/api/sso/getUser.ts
  desktop/src/preload/api/sso/index.ts
  desktop/src/preload/api/utils/index.ts
  desktop/src/preload/api/utils/safePromise.ts
  desktop/src/preload/index.d.ts
  desktop/src/preload/index.ts
  desktop/src/renderer/src/App.tsx
  desktop/src/renderer/src/components/AuthButton.tsx
  desktop/src/renderer/src/components/index.ts
Labels: APP

#301 DAP-941: Worker and copyWorker functions
  .gitignore
  README.md
  biome.json
  desktop/README.md
  desktop/cjs.workers.vite.config.ts
  desktop/es.workers.vite.config.ts
  desktop/package.json
  desktop/src/main/fileProcessing/README.md
  desktop/src/main/fileProcessing/WorkerPool.ts
  desktop/src/main/fileProcessing/createWorkerPool.ts
  desktop/src/main/fileProcessing/index.ts
  desktop/src/main/fileProcessing/processFolder.ts
  desktop/src/main/fileProcessing/workers/copyWorker.ts
  desktop/src/main/index.ts
  desktop/src/preload/index.d.ts
  desktop/src/preload/index.ts
  desktop/src/renderer/src/App.tsx
  desktop/src/renderer/src/components/ProcessFolderButton.tsx
  desktop/src/renderer/src/components/index.ts
  desktop/tsconfig.web.json
Labels: APP

#304 Desktop refactors
  backend/src/modules/auth/middleware.ts
  backend/tests/modules/auth/middleware.test.ts
  desktop/cjs.workers.vite.config.ts
  desktop/es.workers.vite.config.ts
  desktop/package.json
  desktop/src/preload/api/sso/fetchProtectedRoute.ts
  desktop/src/preload/api/utils/safePromise.ts
  desktop/src/preload/index.d.ts
  desktop/src/renderer/src/App.tsx
Labels: API, APP

#305 Backend refactors
  backend/jest.config.js
  backend/package.json
  backend/src/index.ts
  backend/src/modules/auth/controllers/login.ts
  backend/src/modules/auth/controllers/loginCallback.ts
  backend/src/modules/auth/controllers/token.ts
  backend/src/modules/auth/middleware.ts
  backend/src/modules/ches/controllers/health.ts
  backend/src/modules/ches/utils/fetchToken.ts
  backend/src/modules/rabbit/controllers/addToTestQueue.ts
  backend/src/modules/rabbit/queue.ts
  backend/src/modules/rabbit/utils/connection.ts
  backend/src/modules/rabbit/utils/index.ts
  backend/src/modules/s3/controllers/health.ts
  backend/src/modules/s3/utils/connection.ts
  backend/src/utils/handleTermination.ts
  backend/src/utils/index.ts
  backend/src/utils/logs.ts
  backend/tests/modules/auth/controllers/loginCallback.test.ts
  backend/tests/modules/auth/controllers/token.test.ts
  backend/tests/modules/auth/middleware.test.ts
  backend/tests/modules/ches/controllers/health.test.ts
  backend/tests/modules/rabbit/controllers/addToTestQueue.test.ts
  backend/tests/modules/s3/controllers/health.test.ts
  backend/tests/utils/handleTermination.test.ts
Labels: API

#309 Adds automation for updating API v2 image tag.
  .github/workflows/update-gitops-repo-api-v2.yaml
Labels: Actions
