Repository bcgov/citz-grs-dats, pull requests merged in 2024-12, with the labels that each got.

#367 DAP-1011: Added leave page confirmation
  desktop/src/renderer/src/components/LeavePageModal.tsx
  desktop/src/renderer/src/components/SideNav.tsx
Labels: APP

#373 DAP-1025: Added createAgreementPDF function
  backend/jest.config.js
  backend/package.json
  backend/src/modules/submission-agreement/assets/Autography.otf
  backend/src/modules/submission-agreement/assets/BCSans-Bold.ttf
  backend/src/modules/submission-agreement/assets/BCSans-Regular.ttf
  backend/src/modules/submission-agreement/utils/createAgreementPDF.ts
  backend/src/modules/submission-agreement/utils/index.ts
  backend/tests/modules/submission-agreement/utils/createAgreementPDF.test.ts
Labels: API

#376 DAP-1017: Upload to s3
  backend/src/modules/s3/controllers/health.ts
  backend/src/modules/s3/utils/connection.ts
  backend/src/modules/s3/utils/index.ts
  backend/src/modules/s3/utils/upload.ts
  backend/tests/modules/s3/controllers/health.test.ts
Labels: API

#378 DAP-1021: S3 Download Function
  backend/src/modules/s3/utils/download.ts
  backend/src/modules/s3/utils/index.ts
Labels: API

#377 DAP-991: GET Endpoint for Submission Agreement
  backend/src/modules/submission-agreement/controllers/get.ts
  backend/src/modules/submission-agreement/controllers/index.ts
  backend/src/modules/submission-agreement/router.ts
  backend/tests/modules/submission-agreement/controllers/get.test.ts
  backend/tests/modules/submission-agreement/router.test.ts
Labels: API

#379 DAP-1022: Validate standard transfer
  backend/package.json
  backend/src/modules/transfer/utils/index.ts
  backend/src/modules/transfer/utils/validateStandardTransferStructure.ts
  backend/src/utils/index.ts
  backend/src/utils/streamToBuffer.ts
  backend/tests/modules/transfer/utils/validateStandardTransferStructure.test.ts
  backend/tests/utils/streamToBuffer.test.ts
Labels: API

#381 DAP-1026: Validate submission agreement
  backend/package.json
  backend/src/modules/transfer/utils/index.ts
  backend/src/modules/transfer/utils/validateSubmissionAgreement.ts
  backend/tests/modules/transfer/utils/validateSubmissionAgreement.test.ts
Labels: API

#386 DAP-1020: Transfer model additions
  backend/src/modules/filelist/controllers/create.ts
  backend/src/modules/transfer/entities/transfer.ts
  backend/src/modules/transfer/services/transfer.ts
  backend/tests/modules/transfer/entities/transfer.test.ts
Labels: API

#385 DAP-1019: getTransferWhere method to Transfer service
  backend/src/index.ts
  backend/src/modules/transfer/services/transfer.ts
Labels: API

#389 DAP-1027: Added sortPSPContent function
  backend/src/modules/transfer/utils/index.ts
  backend/src/modules/transfer/utils/sortPSPContent.ts
  backend/tests/modules/filelist/utils/createJsonFileList.test.ts
  backend/tests/modules/transfer/utils/sortPSPContent.test.ts
Labels: API

#382 DAP-1024: Validate Digital File List
  backend/package.json
  backend/src/modules/transfer/utils/index.ts
  backend/src/modules/transfer/utils/validateDigitalFileList.ts
  backend/tests/modules/transfer/utils/validateDigitalFileList.test.ts
Labels: API

#390 DAP-1029: Added createBagitFiles
  backend/src/modules/transfer/utils/createBagitFiles.ts
  backend/src/modules/transfer/utils/index.ts
  backend/tests/modules/transfer/utils/createBagitFiles.test.ts
Labels: API

#384 DAP-1035: Validate Metadata Files
  backend/src/modules/transfer/schemas/index.ts
  backend/src/modules/transfer/schemas/metadata.ts
  backend/src/modules/transfer/utils/index.ts
  backend/src/modules/transfer/utils/validateMetadataFiles.ts
  backend/tests/modules/transfer/schemas/metadata.test.ts
  backend/tests/modules/transfer/utils/validateDigitalFileList.test.ts
  backend/tests/modules/transfer/utils/validateMetadataFiles.test.ts
Labels: API

#388 DAP-1016: Checksum validation function
  backend/src/modules/transfer/utils/index.ts
  backend/src/modules/transfer/utils/isChecksumValid.ts
  backend/tests/modules/transfer/utils/isChecksumValid.test.ts
Labels: API

#391 DAP-1028: CreatePSP function
  backend/jest.config.js
  backend/package.json
  backend/src/modules/transfer/schemas/metadata.ts
  backend/src/modules/transfer/utils/createBagitFiles.ts
  backend/src/modules/transfer/utils/createPSP.ts
  backend/src/modules/transfer/utils/index.ts
  backend/src/modules/transfer/utils/validateMetadataFiles.ts
  backend/src/modules/transfer/utils/validateStandardTransferStructure.ts
  backend/tests/modules/transfer/schemas/metadata.test.ts
  backend/tests/modules/transfer/utils/createBagitFiles.test.ts
  backend/tests/modules/transfer/utils/validateMetadataFiles.test.ts
  backend/tests/modules/transfer/utils/validateStandardTransferStructure.test.ts
Labels: API

#394 DAP-1055: Added getFileFromZipBuffer
  backend/jest.config.js
  backend/src/modules/transfer/utils/getFileFromZipBuffer.ts
  backend/src/modules/transfer/utils/index.ts
Labels: API

#400 Fixes broken API image upload workflow.
  .github/workflows/api-build-tag-push.yaml
Labels: Actions

#401 Triggers up-to-date API image build.
  backend/README.md
  backend/docker/Dockerfile.prod
Labels: API

#397 DAP-1057: Added getFilenameByRegex
  backend/jest.config.js
  backend/src/modules/transfer/utils/getFilenameByRegex.ts
  backend/src/modules/transfer/utils/index.ts
Labels: API

#398 DAP-1059: Added addFileToZipBuffer
  backend/jest.config.js
  backend/src/modules/transfer/utils/addFileToZipBuffer.ts
  backend/src/modules/transfer/utils/index.ts
Labels: API

#393 DAP-1054: Added getMetadata
  backend/jest.config.js
  backend/src/modules/transfer/utils/getMetadata.ts
  backend/src/modules/transfer/utils/index.ts
Labels: API

#392 DAP-1015: Boilerplate standard transfer endpoint
  backend/src/express.ts
  backend/src/modules/index.ts
  backend/src/modules/transfer/controllers/create.ts
  backend/src/modules/transfer/controllers/index.ts
  backend/src/modules/transfer/index.ts
  backend/src/modules/transfer/router.ts
  backend/src/modules/transfer/schemas/index.ts
  backend/src/modules/transfer/schemas/transfer.ts
  backend/src/modules/transfer/services/transfer.ts
  backend/tests/modules/transfer/controllers/create.test.ts
  backend/tests/modules/transfer/router.test.ts
  backend/tests/modules/transfer/schemas/transfer.test.ts
Labels: API

#399 DAP-1056: createFinalTransfer function
  backend/jest.config.js
  backend/src/modules/transfer/utils/createFinalTransfer.ts
  backend/src/modules/transfer/utils/index.ts
Labels: API

#402 Added dev api url
  desktop/src/main/index.ts
Labels: APP
