Repository bcgov/citz-grs-dats, pull requests merged in 2025-02, with the labels that each got.

#441 DAP-1147: Login required popup
  desktop/src/main/fileProcessing/WorkerPool.ts
  desktop/src/main/fileProcessing/createWorkerPool.ts
  desktop/src/main/fileProcessing/workers/copyWorker.ts
  desktop/src/main/fileProcessing/workers/utilities/countFiles.ts
  desktop/src/main/fileProcessing/workers/utilities/generateMetadataInBatches.ts
  desktop/src/renderer/src/assets/base.css
  desktop/src/renderer/src/components/LoginRequiredModal.tsx
  desktop/src/renderer/src/components/index.ts
  desktop/src/renderer/src/components/transfer/lan-views/finish-view/LanFinishView.tsx
  desktop/src/renderer/src/pages/transfers/LanTransfer.tsx
Labels: APP

#456 DAP-1155: Prevent existing folder upload
  desktop/src/renderer/src/pages/transfers/LanTransfer.tsx
Labels: APP

#450 DAP-1154: Check for empty folders
  desktop/src/main/fileProcessing/actions/getFolderBuffer.ts
  desktop/src/main/fileProcessing/actions/getFolderMetadata.ts
  desktop/src/main/fileProcessing/workers/copyWorker.ts
  desktop/src/main/fileProcessing/workers/metadataWorker.ts
  desktop/src/main/fileProcessing/workers/utilities/countFiles.ts
  desktop/src/main/fileProcessing/workers/utilities/doesDirectoryExist.ts
  desktop/src/main/fileProcessing/workers/utilities/ensureDirectoryExists.ts
  desktop/src/main/fileProcessing/workers/utilities/generateBuffersInBatches.ts
  desktop/src/main/fileProcessing/workers/utilities/generateMetadataInBatches.ts
  desktop/src/main/fileProcessing/workers/utilities/index.ts
  desktop/src/main/index.ts
  desktop/src/preload/index.ts
  desktop/src/renderer/src/components/transfer/UploadGrid/StatusCell.tsx
  desktop/src/renderer/src/pages/transfers/LanTransfer.tsx
Labels: APP

#455 DAP-1042: Add owner metadata
  desktop/src/main/fileProcessing/workers/utilities/generateMetadataInBatches.ts
Labels: APP

#457 DAP-1149: Track progress for leave page modal
  desktop/src/renderer/src/App.tsx
  desktop/src/renderer/src/assets/main.css
  desktop/src/renderer/src/components/SideNav.tsx
  desktop/src/renderer/src/components/transfer/lan-views/LanSubmissionAgreementView.tsx
  desktop/src/renderer/src/pages/FileList.tsx
  desktop/src/renderer/src/pages/SendRecords.tsx
  desktop/src/renderer/src/pages/transfers/LanInstructions.tsx
  desktop/src/renderer/src/pages/transfers/LanTransfer.tsx
Labels: APP

#458 DAP-1085: Updated sso refresh
  desktop/src/main/index.ts
Labels: APP

#463 Adds condition to build/upload workflow
  .github/workflows/api-build-tag-push.yaml
Labels: Actions

#460 DAP-1114: EDRMS instructions page
  desktop/src/renderer/src/App.tsx
  desktop/src/renderer/src/pages/SendRecords.tsx
  desktop/src/renderer/src/pages/transfers/EdrmsInstructions.tsx
  desktop/src/renderer/src/pages/transfers/index.ts
Labels: APP

#461 DAP-1170: Folder upload area component
  desktop/src/global.d.ts
  desktop/src/preload/api/utils/index.ts
  desktop/src/preload/api/utils/isEmptyFolder.ts
  desktop/src/preload/index.ts
  desktop/src/renderer/src/components/FolderUploadArea.tsx
  desktop/src/renderer/src/components/index.ts
Labels: APP

#462 DAP-1119: EDRMS folder upload view
  desktop/src/preload/api/utils/isEmptyFolder.ts
  desktop/src/renderer/src/App.tsx
  desktop/src/renderer/src/components/transfer/edrms-views/EdrmsUploadFolderView.tsx
  desktop/src/renderer/src/components/transfer/edrms-views/index.ts
  desktop/src/renderer/src/pages/transfers/EdrmsTransfer.tsx
Labels: APP

#464 DAP-1172: Parse files out of EDRMS folder
  desktop/src/global.d.ts
  desktop/src/preload/api/transfer/index.ts
  desktop/src/preload/api/transfer/parseEdrmsFiles.ts
  desktop/src/preload/index.ts
  desktop/src/renderer/src/components/FolderUploadArea.tsx
  desktop/src/renderer/src/pages/transfers/EdrmsTransfer.tsx
Labels: APP

#473 Updated auth package and token response
  backend/package.json
  backend/src/modules/auth/controllers/token.ts
Labels: API

#466 DAP-1110: Parse dataport file
  desktop/src/global.d.ts
  desktop/src/preload/api/transfer/index.ts
  desktop/src/preload/api/transfer/parseDataportJsonMetadata.ts
  desktop/src/preload/api/transfer/parseTabDelimitedTxt.ts
  desktop/src/preload/index.ts
  desktop/src/renderer/src/pages/transfers/EdrmsTransfer.tsx
Labels: APP

#467 Dap-1115: Dataport upload view
  desktop/src/renderer/src/components/transfer/edrms-views/EdrmsUploadDataportView.tsx
  desktop/src/renderer/src/pages/transfers/EdrmsTransfer.tsx
Labels: APP

#468 DAP-1116: Upload filelist view
  desktop/src/renderer/src/components/transfer/edrms-views/EdrmsUploadFilelistView.tsx
  desktop/src/renderer/src/pages/transfers/EdrmsTransfer.tsx
Labels: APP

#469 DAP-1117: Upload transfer form view
  desktop/src/renderer/src/components/transfer/edrms-views/EdrmsUploadTransferFormView.tsx
  desktop/src/renderer/src/pages/transfers/EdrmsTransfer.tsx
Labels: APP

#470 DAP-1118: Submission agreement view
  desktop/src/renderer/src/components/transfer/edrms-views/EdrmsSubmissionAgreementView.tsx
  desktop/src/renderer/src/components/transfer/edrms-views/index.ts
  desktop/src/renderer/src/pages/transfers/EdrmsTransfer.tsx
Labels: APP

#471 DAP-1120: Confirmation view
  biome.json
  desktop/src/renderer/src/components/transfer/edrms-views/ConfirmationTable/ConfirmationTable.tsx
  desktop/src/renderer/src/components/transfer/edrms-views/ConfirmationTable/StatusCell.tsx
  desktop/src/renderer/src/components/transfer/edrms-views/EdrmsConfirmationView.tsx
  desktop/src/renderer/src/components/transfer/edrms-views/index.ts
  desktop/src/renderer/src/pages/transfers/EdrmsTransfer.tsx
  desktop/src/renderer/src/pages/transfers/LanTransfer.tsx
Labels: APP

#465 Dap 1100 collect full metadata on windows part 2
  desktop/es.workers.vite.config.ts
  desktop/package.json
  desktop/src/main/fileProcessing/actions/getFolderMetadata.ts
  desktop/src/main/fileProcessing/workers/metadataWorker.ts
  desktop/src/main/fileProcessing/workers/utilities/generateExtendedMetadata.ts
  desktop/src/main/fileProcessing/workers/utilities/generateMetadataInBatches.ts
  desktop/src/main/fileProcessing/workers/utilities/getExtendedMetadata.ts
  desktop/src/main/fileProcessing/workers/utilities/index.ts
  desktop/src/main/fileProcessing/workers/utilities/scripts/getExtendedMetadata.ps1
  desktop/src/main/index.ts
  desktop/src/preload/api/api.ts
  desktop/src/preload/api/index.ts
  desktop/src/preload/api/sso/index.ts
  desktop/src/preload/api/transfer/index.ts
  desktop/src/preload/api/utils/index.ts
  desktop/src/preload/api/workers/getFolderBuffer.ts
  desktop/src/preload/api/workers/getFolderMetadata.ts
  desktop/src/preload/api/workers/index.ts
  desktop/src/preload/index.ts
  desktop/src/renderer/src/components/transfer/edrms-views/EdrmsSubmissionAgreementView.tsx
Labels: APP

#474 Track progress on edrms page
  desktop/src/renderer/src/pages/transfers/EdrmsTransfer.tsx
Labels: APP

#475 Tweaks
  README.md
  desktop/src/main/index.ts
Labels: APP

#476 Fix build issue
  desktop/cjs.workers.vite.config.ts
  desktop/es.workers.vite.config.ts
  desktop/package.json
  desktop/src/main/fileProcessing/actions/getFolderBuffer.ts
  desktop/src/main/fileProcessing/actions/getFolderMetadata.ts
Labels: APP

#477 DAP-1101: Get extended metadata
  backend/src/modules/filelist/controllers/create.ts
  backend/src/modules/filelist/entities/filelist.ts
  backend/src/modules/filelist/schemas/create.ts
  backend/src/modules/filelist/schemas/filelist.ts
  backend/src/modules/filelist/services/filelist.ts
  backend/src/modules/filelist/utils/createJsonFileList.ts
  backend/src/modules/filelist/utils/queueConsumer.ts
  backend/src/modules/transfer/controllers/edrms.ts
  backend/src/modules/transfer/controllers/lan.ts
  backend/src/modules/transfer/entities/transfer.ts
  backend/src/modules/transfer/router.ts
  backend/src/modules/transfer/schemas/transfer.ts
  backend/src/modules/transfer/services/transfer.ts
  backend/src/modules/transfer/utils/createStandardTransferZip.ts
  backend/tests/modules/filelist/utils/createJsonFileList.test.ts
Labels: API

#478 DAP-1108: Send extended metadata lan transfer
  desktop/src/renderer/src/pages/transfers/LanTransfer.tsx
Labels: APP

#479 DAP-1105: Send extended metadata in filelist
  desktop/src/hooks/useFolderList/useFolderList.ts
  desktop/src/renderer/src/pages/FileList.tsx
Labels: APP

#480 DAP-1171: Updated filelist tab names
  backend/src/modules/filelist/utils/excel/createExcelWorkbook.ts
  backend/src/modules/filelist/utils/excel/updateFileListV2.ts
  backend/tests/modules/filelist/utils/excel/createExcelWorkbook.test.ts
Labels: API

#481 DAP-1153: Added mongo usage stats log
  backend/src/index.ts
Labels: API

#482 DAP-1128: Implemented vpn popup designs
  desktop/src/renderer/src/App.tsx
  desktop/src/renderer/src/components/VPNPopup.tsx
Labels: APP

#483 DAP-1131: [Part 1] Filelist instructions page
  desktop/src/renderer/src/App.tsx
  desktop/src/renderer/src/components/SideNav.tsx
  desktop/src/renderer/src/pages/FileListInstructions.tsx
  desktop/src/renderer/src/pages/index.ts
  desktop/src/renderer/src/pages/transfers/index.ts
Labels: APP

#484 DAP-1131: [Part 2] Implement file list page designs
  desktop/src/renderer/src/assets/base.css
  desktop/src/renderer/src/assets/main.css
  desktop/src/renderer/src/components/file-list/AccAppCheck.tsx
  desktop/src/renderer/src/components/file-list/AnimatedProgress.tsx
  desktop/src/renderer/src/components/file-list/ContinueButton.tsx
  desktop/src/renderer/src/components/file-list/FolderDisplayGrid.tsx
  desktop/src/renderer/src/components/file-list/Instruction.tsx
  desktop/src/renderer/src/components/file-list/SelectFolderButton.tsx
  desktop/src/renderer/src/components/file-list/index.ts
  desktop/src/renderer/src/pages/FileList.tsx
Labels: APP

#485 App improvements
  desktop/src/main/index.ts
Labels: APP

#486 DAP-1131: [Part 3] Implemented filelist modals
  desktop/src/renderer/src/components/file-list/ContinueModal.tsx
  desktop/src/renderer/src/components/file-list/FinalizeFilelistModal.tsx
  desktop/src/renderer/src/components/file-list/ReturnToHomeModal.tsx
  desktop/src/renderer/src/components/file-list/index.ts
  desktop/src/renderer/src/pages/FileList.tsx
Labels: APP

#487 DAP-1173: Homepage design implementation
  desktop/src/main/index.ts
  desktop/src/renderer/src/assets/transfer-records.svg
  desktop/src/renderer/src/components/HowDatsWorksAccordion.tsx
  desktop/src/renderer/src/components/Instruction.tsx
  desktop/src/renderer/src/components/file-list/index.ts
  desktop/src/renderer/src/components/index.ts
  desktop/src/renderer/src/pages/FileList.tsx
  desktop/src/renderer/src/pages/Home.tsx
Labels: APP

#488 DAP-1165: Increase multer limits
  backend/src/modules/transfer/router.ts
Labels: API

#489 Added prod urls
  desktop/src/main/index.ts
Labels: APP

#490 Fix icon
  desktop/src/renderer/src/assets/transfer-records.svg
  desktop/src/renderer/src/assets/wavy-lines.svg
  desktop/src/renderer/src/components/TransferRecordsIcon.tsx
  desktop/src/renderer/src/components/index.ts
  desktop/src/renderer/src/pages/Home.tsx
Labels: APP

#491 DAP-1182: Error handling
  desktop/src/hooks/useFolderList/useFolderList.ts
  desktop/src/renderer/src/App.tsx
  desktop/src/renderer/src/components/transfer/finish-view/FinishView.tsx
  desktop/src/renderer/src/components/transfer/finish-view/RequestFailed.tsx
  desktop/src/renderer/src/pages/FileList.tsx
  desktop/src/renderer/src/pages/Home.tsx
  desktop/src/renderer/src/pages/transfers/EdrmsTransfer.tsx
  desktop/src/renderer/src/pages/transfers/LanTransfer.tsx
Labels: APP

#492 Fix desktop release action
  .github/workflows/desktop-release.yaml
Labels: Actions

#493 DAP-1190: Help modal
  desktop/src/renderer/src/components/HelpModal.tsx
  desktop/src/renderer/src/components/SideNav.tsx
  desktop/src/renderer/src/components/index.ts
Labels: APP

#494 DAP-1066: Better api logs for transfer
  backend/src/modules/transfer/utils/queueConsumer.ts
  backend/src/utils/logs.ts
Labels: API

#495 DAP-1183: Copywriting change on send records page
  desktop/src/renderer/src/pages/SendRecords.tsx
Labels: APP

#496 DAP-1166: Updated finish view copywriting
  desktop/src/renderer/src/components/transfer/finish-view/FinishView.tsx
  desktop/src/renderer/src/components/transfer/finish-view/RequestSuccess.tsx
  desktop/src/renderer/src/pages/transfers/EdrmsTransfer.tsx
  desktop/src/renderer/src/pages/transfers/LanTransfer.tsx
Labels: APP

#497 DAP-1197: Check for missing schedule and classification
  desktop/src/preload/api/transfer/parseXlsxFileList.ts
  desktop/src/renderer/src/pages/transfers/LanTransfer.tsx
  desktop/src/renderer/src/pages/transfers/utils/getXlsxFileListToastData.ts
Labels: APP

#498 Fix auto update
  desktop/electron-builder.yml
Labels: APP

#500 Fix workflow
  .github/workflows/desktop-release.yaml
Labels: Actions

#501 Anotha one
  .github/workflows/desktop-release.yaml
Labels: Actions

#502 DAP-1199: Reset progress on change page
  desktop/src/main/index.ts
  desktop/src/renderer/src/App.tsx
Labels: APP

#503 DAP-1201: Check for filename
  desktop/src/renderer/src/pages/transfers/EdrmsTransfer.tsx
  desktop/src/renderer/src/pages/transfers/LanTransfer.tsx
Labels: APP

#504 DAP-1202: Cancel worker on page leave
  desktop/src/global.d.ts
  desktop/src/main/index.ts
  desktop/src/preload/api/workers/index.ts
  desktop/src/renderer/src/App.tsx
Labels: APP
