Repository bcgov/citz-grs-dats, pull requests merged in 2025-01, with the labels that each got.

#396 DAP-1031: Transfer queue consumer
  .gitignore
  backend/jest.config.js
  backend/package.json
  backend/src/express.ts
  backend/src/modules/filelist/controllers/create.ts
  backend/src/modules/submission-agreement/controllers/create.ts
  backend/src/modules/transfer/controllers/create.ts
  backend/src/modules/transfer/entities/transfer.ts
  backend/src/modules/transfer/schemas/transfer.ts
  backend/src/modules/transfer/services/transfer.ts
  backend/src/modules/transfer/utils/addFileToZipBuffer.ts
  backend/src/modules/transfer/utils/getMetadata.ts
  backend/src/modules/transfer/utils/index.ts
  backend/src/modules/transfer/utils/queueConsumer.ts
  backend/src/modules/transfer/utils/validateContentMatchesMetadata.ts
  backend/src/modules/transfer/utils/validateDigitalFileList.ts
  backend/src/modules/transfer/utils/validateMetadataFoldersMatchesFiles.ts
  backend/src/utils/generateChecksum.ts
  backend/tests/modules/filelist/controllers/create.test.ts
  backend/tests/modules/submission-agreement/controllers/create.test.ts
  backend/tests/modules/transfer/controllers/create.test.ts
  backend/tests/modules/transfer/schemas/transfer.test.ts
  backend/tests/modules/transfer/utils/validateDigitalFileList.test.ts
Labels: API

#410 Adds comment to trigger build.
  backend/docker/Dockerfile.prod
Labels: API

#411 Fix build issue
  backend/docker/Dockerfile.prod
  backend/src/modules/transfer/utils/validateSubmissionAgreement.ts
  backend/tests/modules/transfer/utils/validateSubmissionAgreement.test.ts
  backend/tsconfig.json
Labels: API

#412 New log improvements
  backend/src/index.ts
  backend/src/modules/filelist/services/filelist.ts
  backend/src/modules/filelist/utils/queueConsumer.ts
  backend/src/modules/rabbit/utils/connection.ts
  backend/src/modules/rabbit/utils/queue/filelist.ts
  backend/src/modules/rabbit/utils/queue/test.ts
  backend/src/modules/rabbit/utils/queue/transfer.ts
  backend/src/modules/s3/utils/download.ts
  backend/src/modules/s3/utils/upload.ts
  backend/src/modules/transfer/controllers/create.ts
  backend/src/modules/transfer/services/transfer.ts
  backend/src/modules/transfer/utils/queueConsumer.ts
  backend/src/utils/logs.ts
Labels: API

#406 DAP-1069: Updated send records page
  desktop/src/renderer/src/App.tsx
  desktop/src/renderer/src/assets/base.css
  desktop/src/renderer/src/assets/main.css
  desktop/src/renderer/src/components/LeavePageModal.tsx
  desktop/src/renderer/src/components/SideNav.tsx
  desktop/src/renderer/src/components/Versions.tsx
  desktop/src/renderer/src/components/index.ts
  desktop/src/renderer/src/pages/SendRecords.tsx
  desktop/src/renderer/src/theme.ts
Labels: APP

#416 pdf fix
  backend/jest.config.js
  backend/package.json
  backend/src/modules/transfer/utils/validateSubmissionAgreement.ts
  backend/tests/modules/transfer/utils/validateSubmissionAgreement.test.ts
  backend/tests/utils/logs.test.ts
Labels: API

#407 DAP-1070: LAN instructions page
  desktop/src/renderer/src/App.tsx
  desktop/src/renderer/src/assets/base.css
  desktop/src/renderer/src/components/SideNav.tsx
  desktop/src/renderer/src/pages/Home.tsx
  desktop/src/renderer/src/pages/SendRecords.tsx
  desktop/src/renderer/src/pages/index.ts
  desktop/src/renderer/src/pages/transfers/LanInstructions.tsx
  desktop/src/renderer/src/pages/transfers/index.ts
  desktop/src/renderer/src/theme.ts
Labels: APP

#408 Side nav updates
  desktop/src/renderer/src/assets/base.css
  desktop/src/renderer/src/components/AuthButton.tsx
  desktop/src/renderer/src/components/SideNav.tsx
  desktop/src/renderer/src/pages/Home.tsx
  desktop/src/renderer/src/pages/SendRecords.tsx
  desktop/src/renderer/src/pages/index.ts
Labels: APP

#413 DAP-1074: Toast component
  desktop/package.json
  desktop/src/renderer/src/App.tsx
  desktop/src/renderer/src/assets/main.css
  desktop/src/renderer/src/components/AuthButton.tsx
  desktop/src/renderer/src/components/SideNav.tsx
  desktop/src/renderer/src/components/Toast.tsx
  desktop/src/renderer/src/components/index.ts
Labels: APP

#417 DAP-1078: Decline submission agreement modal
  desktop/src/renderer/src/assets/base.css
  desktop/src/renderer/src/components/LeavePageModal.tsx
  desktop/src/renderer/src/components/index.ts
  desktop/src/renderer/src/components/transfer/DeclineSubAgreementModal.tsx
  desktop/src/renderer/src/components/transfer/index.ts
Labels: APP

#409 DAP-1072: Stepper
  desktop/src/renderer/src/components/Stepper.tsx
  desktop/src/renderer/src/components/index.ts
  desktop/src/renderer/src/pages/SendRecords.tsx
Labels: APP

#414 DAP-1071: Upload file area
  desktop/src/renderer/src/assets/base.css
  desktop/src/renderer/src/components/FileUploadArea.tsx
  desktop/src/renderer/src/components/index.ts
Labels: APP

#418 DAP-1079: Send Records - Folder upload table
  desktop/src/renderer/src/assets/base.css
  desktop/src/renderer/src/assets/main.css
  desktop/src/renderer/src/components/transfer/FolderUploadGrid.tsx
  desktop/src/renderer/src/components/transfer/index.ts
Labels: APP

#419 DAP-1081: Justify changes modal
  desktop/src/renderer/src/components/DeclineSubAgreementModal.tsx
  desktop/src/renderer/src/components/SideNav.tsx
  desktop/src/renderer/src/components/index.ts
  desktop/src/renderer/src/components/transfer/JustifyChangesModal.tsx
  desktop/src/renderer/src/components/transfer/index.ts
Labels: APP

#425 DAP-1088: Single folder select
  desktop/src/main/fileProcessing/actions/selectDirectory.ts
  desktop/src/main/index.ts
  desktop/src/preload/index.d.ts
  desktop/src/preload/index.ts
Labels: APP

#426 DAP-1087: Check for missing path in worker
  desktop/src/main/fileProcessing/WorkerPool.ts
  desktop/src/main/fileProcessing/actions/getFolderMetadata.ts
  desktop/src/main/fileProcessing/workers/metadataWorker.ts
  desktop/src/main/index.ts
  desktop/src/preload/index.ts
Labels: APP

#420 DAP-1073: Lan transfer - Upload file list view
  desktop/package.json
  desktop/src/preload/api/transfer/index.ts
  desktop/src/preload/api/transfer/parseXlsxFileList.ts
  desktop/src/preload/index.d.ts
  desktop/src/preload/index.ts
  desktop/src/renderer/src/App.tsx
  desktop/src/renderer/src/assets/base.css
  desktop/src/renderer/src/components/FileUploadArea.tsx
  desktop/src/renderer/src/components/SideNav.tsx
  desktop/src/renderer/src/components/transfer/AccAppConfirmation.tsx
  desktop/src/renderer/src/components/transfer/index.ts
  desktop/src/renderer/src/components/transfer/lan-views/LanUploadFileView.tsx
  desktop/src/renderer/src/components/transfer/lan-views/index.ts
  desktop/src/renderer/src/pages/FileList.tsx
  desktop/src/renderer/src/pages/Home.tsx
  desktop/src/renderer/src/pages/SendRecords.tsx
  desktop/src/renderer/src/pages/transfers/LanInstructions.tsx
  desktop/src/renderer/src/pages/transfers/LanTransfer.tsx
  desktop/src/renderer/src/pages/transfers/index.ts
  desktop/src/renderer/src/theme.ts
Labels: APP

#430 DAP-1071: Wrong file type message
  desktop/src/preload/api/transfer/index.ts
  desktop/src/preload/api/transfer/isAccessionValid.ts
  desktop/src/preload/api/transfer/isApplicationValid.ts
  desktop/src/preload/api/transfer/parseXlsxFileList.ts
  desktop/src/preload/index.d.ts
  desktop/src/preload/index.ts
  desktop/src/renderer/src/components/FileUploadArea.tsx
  desktop/src/renderer/src/pages/transfers/LanTransfer.tsx
Labels: APP

#438 Fix nav issue
  desktop/src/renderer/src/components/SideNav.tsx
Labels: APP

#437 DAP-1138: LAN transfer endpoint
  .env-template
  backend/jest.config.js
  backend/src/config/env.ts
  backend/src/express.ts
  backend/src/modules/filelist/utils/excel/addWorksheetToExistingWorkbookBuffer.ts
  backend/src/modules/filelist/utils/excel/index.ts
  backend/src/modules/filelist/utils/excel/updateFileListV2.ts
  backend/src/modules/filelist/utils/excel/worksheets/folderListV2.ts
  backend/src/modules/filelist/utils/excel/worksheets/index.ts
  backend/src/modules/filelist/utils/excel/worksheets/metadataV2.ts
  backend/src/modules/transfer/controllers/index.ts
  backend/src/modules/transfer/controllers/lan.ts
  backend/src/modules/transfer/entities/transfer.ts
  backend/src/modules/transfer/router.ts
  backend/src/modules/transfer/schemas/index.ts
  backend/src/modules/transfer/schemas/metadata.ts
  backend/src/modules/transfer/schemas/transfer.ts
  backend/src/modules/transfer/utils/createPSP.ts
  backend/src/modules/transfer/utils/createStandardTransferZip.ts
  backend/src/modules/transfer/utils/getMetadata.ts
  backend/src/modules/transfer/utils/index.ts
  backend/src/modules/transfer/utils/queueConsumer.ts
  backend/src/modules/transfer/utils/validateMetadataFiles.ts
  backend/tests/modules/filelist/utils/excel/addWorksheetToExistingWorkbookBuffer.test.ts
  backend/tests/modules/filelist/utils/excel/updateFileListV2.test.ts
  backend/tests/modules/filelist/utils/excel/worksheets/folderListV2.test.ts
  backend/tests/modules/filelist/utils/excel/worksheets/metadataV2.test.ts
  backend/tests/modules/transfer/controllers/create.test.ts
  backend/tests/modules/transfer/router.test.ts
  backend/tests/modules/transfer/schemas/metadata.test.ts
  backend/tests/modules/transfer/utils/validateMetadataFiles.test.ts
Labels: API

#445 API Troubleshooting
  backend/src/modules/submission-agreement/utils/createAgreementPDF.ts
  desktop/src/renderer/index.html
Labels: API, APP

#446 Testing
  backend/src/modules/submission-agreement/utils/createAgreementPDF.ts
Labels: API

#448 Testing
  backend/src/modules/transfer/controllers/lan.ts
  backend/src/modules/transfer/router.ts
Labels: API

#449 its friday
  backend/src/modules/transfer/router.ts
Labels: API

#427 DAP-1109: Updates to copy worker
  desktop/src/main/index.ts
Labels: APP

#428 DAP-1082: Lan transfer completion view
  desktop/src/main/fileProcessing/workers/copyWorker.ts
  desktop/src/main/fileProcessing/workers/metadataWorker.ts
  desktop/src/renderer/src/assets/base.css
  desktop/src/renderer/src/components/transfer/lan-views/LanCompletionView.tsx
  desktop/src/renderer/src/components/transfer/lan-views/index.ts
  desktop/src/renderer/src/pages/transfers/LanTransfer.tsx
Labels: APP

#439 DAP-1013 API Call On Submit MKII
  desktop/electron.vite.config.ts
  desktop/src/global.d.ts
  desktop/src/hooks/index.ts
  desktop/src/hooks/useFolderList/convertArrayToObject.ts
  desktop/src/hooks/useFolderList/useFolderList.ts
  desktop/src/main/index.ts
  desktop/src/preload/index.d.ts
  desktop/src/renderer/src/App.tsx
  desktop/src/renderer/src/components/file-list/ContinueModal.tsx
  desktop/src/renderer/src/pages/FileList.tsx
  desktop/tsconfig.json
  desktop/tsconfig.web.json
Labels: APP

#451 Stops image build on PR open.
  .github/workflows/api-build-tag-push.yaml
Labels: Actions

#452 DAP-1157: Increase req body size limit
  backend/docker/Dockerfile.prod
  backend/src/express.ts
  backend/src/modules/submission-agreement/utils/createAgreementPDF.ts
  desktop/src/global.d.ts
Labels: API, APP

#454 Dap-1100-collect-full-metadata-on-windows-part-1
  desktop/src/main/fileProcessing/actions/getFolderMetadata.ts
  desktop/src/main/fileProcessing/workers/metadataWorker.ts
  desktop/src/main/fileProcessing/workers/utilities/calculateChecksum.ts
  desktop/src/main/fileProcessing/workers/utilities/countFiles.ts
  desktop/src/main/fileProcessing/workers/utilities/doesDirectoryExist.ts
  desktop/src/main/fileProcessing/workers/utilities/ensureDirectoryExists.ts
  desktop/src/main/fileProcessing/workers/utilities/formatFileSize.ts
  desktop/src/main/fileProcessing/workers/utilities/generateExtendedMetadata.ts
  desktop/src/main/fileProcessing/workers/utilities/generateMetadataInBatches.ts
  desktop/src/main/fileProcessing/workers/utilities/index.ts
  desktop/src/main/fileProcessing/workers/utilities/writeOrAppendMetadata.ts
  desktop/src/main/index.ts
Labels: APP

#440 DAP-1083: Lan transfer on submit & upload progress
  biome.json
  desktop/package.json
  desktop/src/main/fileProcessing/workers/copyWorker.ts
  desktop/src/main/fileProcessing/workers/utilities/generateMetadataInBatches.ts
  desktop/src/preload/api/transfer/createZipBuffer.ts
  desktop/src/preload/api/transfer/index.ts
  desktop/src/preload/api/transfer/parseXlsxFileList.ts
  desktop/src/preload/api/utils/fileToBuffer.ts
  desktop/src/preload/api/utils/index.ts
  desktop/src/preload/index.ts
  desktop/src/renderer/src/App.tsx
  desktop/src/renderer/src/assets/base.css
  desktop/src/renderer/src/components/transfer/lan-views/LanConfirmationView.tsx
  desktop/src/renderer/src/components/transfer/lan-views/finish-view/LanFinishView.tsx
  desktop/src/renderer/src/components/transfer/lan-views/finish-view/RequestFailed.tsx
  desktop/src/renderer/src/components/transfer/lan-views/finish-view/RequestLoading.tsx
  desktop/src/renderer/src/components/transfer/lan-views/finish-view/RequestSuccess.tsx
  desktop/src/renderer/src/components/transfer/lan-views/finish-view/index.ts
  desktop/src/renderer/src/components/transfer/lan-views/index.ts
  desktop/src/renderer/src/pages/transfers/LanTransfer.tsx
Labels: APP

#453 DAP-1163: Fix navigation
  desktop/package.json
  desktop/src/renderer/src/App.tsx
  desktop/src/renderer/src/components/SideNav.tsx
  desktop/src/renderer/src/components/file-list/ContinueModal.tsx
  desktop/src/renderer/src/components/transfer/lan-views/LanSubmissionAgreementView.tsx
  desktop/src/renderer/src/pages/FileList.tsx
  desktop/src/renderer/src/pages/Home.tsx
  desktop/src/renderer/src/pages/SendRecords.tsx
  desktop/src/renderer/src/pages/transfers/LanInstructions.tsx
  desktop/src/renderer/src/pages/transfers/LanTransfer.tsx
Labels: APP
