Repository bcgov/citz-grs-dats, pull requests merged in 2025-04, with the labels that each got.

#555 DAP-1246: Fix close application z index
  desktop/src/renderer/src/App.tsx
  desktop/src/renderer/src/assets/main.css
  desktop/src/renderer/src/components/CloseApplicationModal.tsx
Labels: APP

#554 DAP-1242: Stepper UI tweaks
  desktop/package.json
  desktop/src/renderer/src/components/Stepper.tsx
  desktop/src/renderer/src/components/SubAgreementScrollBox.tsx
  desktop/src/renderer/src/components/transfer/edrms-views/EdrmsConfirmationView.tsx
  desktop/src/renderer/src/components/transfer/edrms-views/EdrmsSubmissionAgreementView.tsx
  desktop/src/renderer/src/components/transfer/edrms-views/EdrmsUploadDataportView.tsx
  desktop/src/renderer/src/components/transfer/edrms-views/EdrmsUploadFilelistView.tsx
  desktop/src/renderer/src/components/transfer/edrms-views/EdrmsUploadFolderView.tsx
  desktop/src/renderer/src/components/transfer/edrms-views/EdrmsUploadTransferFormView.tsx
  desktop/src/renderer/src/components/transfer/finish-view/RequestFailed.tsx
  desktop/src/renderer/src/components/transfer/finish-view/RequestLoading.tsx
  desktop/src/renderer/src/components/transfer/finish-view/RequestSuccess.tsx
  desktop/src/renderer/src/components/transfer/lan-views/LanConfirmationView.tsx
  desktop/src/renderer/src/components/transfer/lan-views/LanSubmissionAgreementView.tsx
  desktop/src/renderer/src/components/transfer/lan-views/LanUploadFileListView.tsx
  desktop/src/renderer/src/components/transfer/lan-views/LanUploadTransferFormView.tsx
  desktop/src/renderer/src/pages/transfers/EdrmsTransfer.tsx
  desktop/src/renderer/src/pages/transfers/LanTransfer.tsx
Labels: APP

#558 DAP-1239: Fix upload json filelist issue
  desktop/src/renderer/src/pages/transfers/LanTransfer.tsx
Labels: APP

#562 Changes API base image registry.
  backend/docker/Dockerfile.prod
Labels: API

#563 DAP-1215: Switch to podman
  .env-template
  backend/docker/Dockerfile
  backend/docker/Dockerfile.prod
  compose.yaml
  package.json
Labels: API

#565 DAP-1244: UI Change & Fix
  desktop/src/main/fileProcessing/actions/getFolderBuffer.ts
  desktop/src/main/fileProcessing/actions/getFolderMetadata.ts
  desktop/src/renderer/src/components/transfer/AccAppConfirmation.tsx
  desktop/src/renderer/src/components/transfer/lan-views/LanConfirmationView.tsx
  desktop/src/renderer/src/components/transfer/lan-views/LanSubmissionAgreementView.tsx
  desktop/src/renderer/src/components/view-transfers/TransfersGrid/TransfersGrid.tsx
  desktop/src/renderer/src/pages/transfers/LanTransfer.tsx
Labels: APP

#566 DAP-1213: Font updates
  desktop/src/renderer/src/assets/base.css
  desktop/src/renderer/src/assets/main.css
  desktop/src/renderer/src/components/FileUploadArea.tsx
  desktop/src/renderer/src/components/HelpModal.tsx
  desktop/src/renderer/src/components/Instruction/Instruction.tsx
  desktop/src/renderer/src/components/PageLinkCard/PageLinkCard.tsx
  desktop/src/renderer/src/components/SideNav/NavItem.tsx
  desktop/src/renderer/src/components/SideNav/navItemData.tsx
  desktop/src/renderer/src/components/file-list/AccAppCheck.tsx
  desktop/src/renderer/src/components/file-list/ContinueButton.tsx
  desktop/src/renderer/src/components/file-list/SelectFolderButton.tsx
  desktop/src/renderer/src/components/transfer/AccAppConfirmation.tsx
  desktop/src/renderer/src/pages/FileList.tsx
  desktop/src/renderer/src/pages/home/HowDatsWorks.tsx
  desktop/src/renderer/src/pages/home/instructionData.tsx
  desktop/src/renderer/src/pages/transfers/EdrmsInstructions.tsx
  desktop/src/renderer/src/pages/transfers/LanInstructions.tsx
  desktop/src/renderer/src/pages/transfers/ViewTransfers.tsx
  desktop/src/renderer/src/theme.ts
Labels: APP

#567 DAP-1261: Checkbox styles
  desktop/src/renderer/src/assets/main.css
Labels: APP

#571 change from browserrouter to hashrouter
  desktop/src/renderer/src/App.tsx
  desktop/src/renderer/src/routes.tsx
Labels: APP

#570 DAP-1264: Part 1 - Desktop app 1GB buffer limit fix
  desktop/package.json
  desktop/src/global.d.ts
  desktop/src/hooks/useAuth/AuthContext.tsx
  desktop/src/hooks/useAuth/AuthProvider.tsx
  desktop/src/hooks/useFolderList/useFolderList.ts
  desktop/src/main/index.ts
  desktop/src/preload/api/sso/index.ts
  desktop/src/preload/api/transfer/createBufferUtils.ts
  desktop/src/preload/api/transfer/createChecksumHasher.ts
  desktop/src/preload/api/transfer/createZipBuffer.ts
  desktop/src/preload/api/transfer/createZippedChunks.ts
  desktop/src/preload/api/transfer/index.ts
  desktop/src/renderer/src/pages/FileList.tsx
  desktop/src/renderer/src/pages/transfers/EdrmsTransfer.tsx
  desktop/src/renderer/src/pages/transfers/LanTransfer.tsx
  desktop/src/renderer/src/pages/transfers/utils/calculateChecksum.ts
  desktop/src/renderer/src/pages/transfers/utils/index.ts
  package.json
Labels: APP

#572 DAP-1264: Part 2 - API buffer too large
  backend/package.json
  backend/src/express.ts
  backend/src/index.ts
  backend/src/modules/transfer/utils/createFinalTransfer.ts
  backend/src/modules/transfer/utils/createPSP.ts
  backend/src/modules/transfer/utils/createStandardTransferZip.ts
Labels: API

#573 New icon
  desktop/resources/icon.ico
  desktop/resources/icon.png
Labels: APP

#576 DAP-1259: Sidenav ui changes
  desktop/src/renderer/src/components/SideNav/NavItem.tsx
  desktop/src/renderer/src/components/SideNav/SideNav.tsx
  desktop/src/renderer/src/components/SideNav/navItemData.tsx
Labels: APP

#578 DAP-1267: Text change on view status page
  desktop/src/renderer/src/pages/transfers/ViewTransfers.tsx
Labels: APP

#575 DAP-1271: Soft delete transfers
  backend/src/modules/transfer/controllers/remove.ts
  backend/src/modules/transfer/entities/transfer.ts
  backend/src/modules/transfer/services/transfer.ts
  backend/src/modules/transfer/utils/createBagitFiles.ts
  backend/src/modules/transfer/utils/createPSP.ts
  backend/src/modules/transfer/utils/getMetadata.ts
  backend/src/modules/transfer/utils/queueConsumer.ts
  backend/src/modules/transfer/utils/sortPSPContent.ts
  backend/tests/modules/transfer/utils/createBagitFiles.test.ts
  backend/tests/modules/transfer/utils/sortPSPContent.test.ts
Labels: API

#577 DAP-1262: View deleted transfers
  backend/src/modules/transfer/entities/transfer.ts
  backend/src/modules/transfer/services/transfer.ts
  desktop/src/renderer/src/components/DownloadIcon.tsx
  desktop/src/renderer/src/components/PreserveIcon.tsx
  desktop/src/renderer/src/components/view-transfers/TransfersGrid/DownloadCell.tsx
  desktop/src/renderer/src/components/view-transfers/TransfersGrid/PreserveCell.tsx
  desktop/src/renderer/src/components/view-transfers/TransfersGrid/TransfersGrid.tsx
  desktop/src/renderer/src/pages/transfers/ViewTransfers.tsx
Labels: API, APP

#581 DAP-1303: Potential fix for install issue
  desktop/electron-builder.yml
Labels: APP

#582 DAP-1187: Updated file list fields
  backend/src/modules/filelist/utils/excel/worksheets/metadata.ts
Labels: API

#574 Dap 1243 refactor file list page
  desktop/src/hooks/useAuth/AuthProvider.tsx
  desktop/src/hooks/useFolderList/useFolderList.ts
  desktop/src/renderer/src/App.tsx
  desktop/src/renderer/src/components/AnimatedProgress/AnimatedProgress.tsx
  desktop/src/renderer/src/components/AnimatedProgress/index.ts
  desktop/src/renderer/src/components/Grid/GridEditDateCell.tsx
  desktop/src/renderer/src/components/Grid/WrappedGridEditDateInput.tsx
  desktop/src/renderer/src/components/Grid/index.ts
  desktop/src/renderer/src/components/Layout.tsx
  desktop/src/renderer/src/components/NoteBlock/NoteBlock.tsx
  desktop/src/renderer/src/components/NoteBlock/index.ts
  desktop/src/renderer/src/components/SideNav/NavItem.tsx
  desktop/src/renderer/src/components/SideNav/navItemData.tsx
  desktop/src/renderer/src/components/file-list/AccAppCheck.tsx
  desktop/src/renderer/src/components/file-list/AccessionApplicationChecker.tsx
  desktop/src/renderer/src/components/file-list/ContinueButton.tsx
  desktop/src/renderer/src/components/file-list/FinalizeFilelistModal.tsx
  desktop/src/renderer/src/components/file-list/FolderDisplayGrid.tsx
  desktop/src/renderer/src/components/file-list/index.ts
  desktop/src/renderer/src/components/index.ts
  desktop/src/renderer/src/layouts/AppLayout.tsx
  desktop/src/renderer/src/layouts/PageLayout.tsx
  desktop/src/renderer/src/layouts/index.ts
  desktop/src/renderer/src/pages/FileList.tsx
  desktop/src/renderer/src/pages/FileListInstructions.tsx
  desktop/src/renderer/src/pages/fileList/FileListActions.tsx
  desktop/src/renderer/src/pages/fileList/FileListOverview.tsx
  desktop/src/renderer/src/pages/fileList/FileListPage.tsx
  desktop/src/renderer/src/pages/fileList/columns.tsx
  desktop/src/renderer/src/pages/fileList/index.ts
  desktop/src/renderer/src/pages/home/HomePage.tsx
  desktop/src/renderer/src/pages/home/pageLinkData.tsx
  desktop/src/renderer/src/pages/index.ts
  desktop/src/renderer/src/routes.tsx
  desktop/src/renderer/src/types/FolderRow.d.ts
  desktop/src/renderer/src/types/index.ts
Labels: APP

#583 DAP-1260: Updated text area styles
  desktop/src/renderer/src/assets/main.css
  desktop/src/renderer/src/components/transfer/JustifyChangesModal.tsx
Labels: APP

#584 Fix docker upload issue
  backend/docker/Dockerfile
Labels: API

#585 DAP-1322: Attempt to resolve buffer issue
  backend/src/modules/transfer/utils/handleTransferChunkUpload.ts
  backend/src/utils/streamToBuffer.ts
Labels: API

#586 DAP-1338: Fix metadata folders parsing
  desktop/src/preload/api/transfer/parseXlsxFileList.ts
Labels: APP

#587 DAP-1322: Attempt 2 to resolve memory spike in Openshift
  backend/src/modules/transfer/utils/createStandardTransferZip.ts
Labels: API

#588 DAP-1322: Debug logs
  backend/src/modules/transfer/utils/createStandardTransferZip.ts
Labels: API
