Repository bcgov/citz-grs-dats, pull requests merged in 2025-03, with the labels that each got.

#508 DAP-1194: Added confirm delete modal
  desktop/src/renderer/src/components/view-transfers/ConfirmDeletionModal.tsx
  desktop/src/renderer/src/components/view-transfers/index.ts
Labels: APP

#514 Table progress animation
  desktop/src/renderer/src/components/transfer/UploadGrid/StatusCell.tsx
  desktop/src/renderer/src/components/transfer/edrms-views/ConfirmationTable/StatusCell.tsx
Labels: APP

#515 DAP-1159: Fixed duplicate toast messages
  desktop/src/renderer/src/pages/transfers/LanTransfer.tsx
Labels: APP

#517 DAP-1161: Check for duplicate folders in file list
  desktop/src/preload/api/transfer/parseXlsxFileList.ts
  desktop/src/renderer/src/pages/transfers/LanTransfer.tsx
  desktop/src/renderer/src/pages/transfers/utils/getXlsxFileListToastData.ts
Labels: APP

#509 DAP-1125: View transfers grid
  desktop/src/renderer/src/components/DownloadIcon.tsx
  desktop/src/renderer/src/components/index.ts
  desktop/src/renderer/src/components/view-transfers/TransfersGrid/DeleteCell.tsx
  desktop/src/renderer/src/components/view-transfers/TransfersGrid/DownloadCell.tsx
  desktop/src/renderer/src/components/view-transfers/TransfersGrid/TransfersGrid.tsx
  desktop/src/renderer/src/components/view-transfers/TransfersGrid/index.ts
  desktop/src/renderer/src/components/view-transfers/index.ts
Labels: APP

#510 DAP-1204: Transfer Re-download modal
  desktop/src/renderer/src/components/view-transfers/ConfirmReDownloadModal.tsx
  desktop/src/renderer/src/components/view-transfers/index.ts
Labels: APP

#521 Added properties to extended metadata
  desktop/src/main/fileProcessing/workers/utilities/scripts/getExtendedMetadata.ps1
Labels: APP

#524 DAP-1160: Fixed toast icon
  desktop/src/renderer/src/App.tsx
  desktop/src/renderer/src/assets/main.css
  desktop/src/renderer/src/components/FileUploadArea.tsx
  desktop/src/renderer/src/components/FolderUploadArea.tsx
  desktop/src/renderer/src/components/Toast.tsx
  desktop/src/renderer/src/components/ToastErrorIcon.tsx
  desktop/src/renderer/src/components/ToastSuccessIcon.tsx
  desktop/src/renderer/src/pages/FileList.tsx
  desktop/src/renderer/src/pages/transfers/EdrmsTransfer.tsx
  desktop/src/renderer/src/pages/transfers/LanTransfer.tsx
  desktop/src/renderer/src/pages/transfers/utils/getXlsxFileListToastData.ts
Labels: APP

#525 Temporary icon
  desktop/package.json
  desktop/resources/icon.icns
  desktop/resources/icon.ico
  desktop/resources/icon.png
Labels: APP

#505 DAP-1126: Get transfers endpoint
  backend/src/index.ts
  backend/src/modules/transfer/controllers/index.ts
  backend/src/modules/transfer/controllers/view.ts
  backend/src/modules/transfer/entities/transfer.ts
  backend/src/modules/transfer/router.ts
  backend/src/modules/transfer/services/transfer.ts
  backend/src/modules/transfer/utils/queueConsumer.ts
  backend/src/utils/logs.ts
  backend/tests/modules/transfer/router.test.ts
Labels: API

#506 DAP-1192: Download transfer endpoint
  backend/package.json
  backend/src/modules/s3/utils/getDownloadUrl.ts
  backend/src/modules/s3/utils/index.ts
  backend/src/modules/transfer/controllers/download.ts
  backend/src/modules/transfer/controllers/index.ts
  backend/src/modules/transfer/router.ts
  backend/src/modules/transfer/schemas/transfer.ts
  backend/tests/modules/transfer/router.test.ts
Labels: API

#507 DAP-1203: Delete transfer endpoint
  backend/jest.config.js
  backend/src/index.ts
  backend/src/modules/filelist/services/filelist.ts
  backend/src/modules/s3/utils/deleteFile.ts
  backend/src/modules/s3/utils/index.ts
  backend/src/modules/transfer/controllers/download.ts
  backend/src/modules/transfer/controllers/index.ts
  backend/src/modules/transfer/controllers/remove.ts
  backend/src/modules/transfer/router.ts
  backend/src/modules/transfer/schemas/transfer.ts
  backend/src/modules/transfer/services/transfer.ts
  backend/src/utils/logs.ts
  backend/tests/modules/transfer/router.test.ts
Labels: API

#518 DAP-1091: Fix missing sub agree error message
  backend/jest.config.js
  backend/src/modules/transfer/controllers/create.ts
  backend/tests/modules/transfer/controllers/create.test.ts
Labels: API

#519 DAP-1208: Fix worksheet already exists
  backend/src/modules/filelist/utils/excel/updateFileListV2.ts
Labels: API

#520 DAP-1152: Added psp manifest
  backend/src/modules/transfer/utils/createBagitFiles.ts
  backend/src/modules/transfer/utils/createFinalTransfer.ts
Labels: API

#522 DAP-1211: Fix missing extended metadata
  backend/src/modules/transfer/controllers/lan.ts
  backend/src/modules/transfer/services/transfer.ts
Labels: API

#526 DAP-1014: Preserve endpoint
  backend/src/config/env.ts
  backend/src/modules/transfer/controllers/download.ts
  backend/src/modules/transfer/controllers/index.ts
  backend/src/modules/transfer/controllers/preserve.ts
  backend/src/modules/transfer/router.ts
  backend/src/modules/transfer/schemas/transfer.ts
  backend/src/utils/logs.ts
  backend/tests/modules/transfer/router.test.ts
Labels: API

#531 DAP-1060: Added release notes process
  .github/workflows/desktop-release.yaml
  desktop/add-release-notes.js
  desktop/package.json
  desktop/resources/release_notes.json
  desktop/src/global.d.ts
  desktop/src/main/index.ts
  desktop/src/preload/api/api.ts
  desktop/src/renderer/src/App.tsx
  desktop/src/renderer/src/components/ReleaseNotesModal.tsx
  desktop/src/renderer/src/components/index.ts
Labels: Actions, APP

#532 Extended metadata script updates
  desktop/src/main/fileProcessing/workers/utilities/scripts/getExtendedMetadata.ps1
Labels: APP

#533 Fix desktop app release workflow
  .github/workflows/desktop-release.yaml
Labels: Actions

#534 Fix release notes script
  desktop/add-release-notes.js
  desktop/package.json
Labels: APP

#535 Script fix
  desktop/add-release-notes.js
  desktop/resources/release_notes.json
Labels: APP

#536 Attempt to fix release notes
  .github/workflows/desktop-release.yaml
  desktop/electron.vite.config.ts
  desktop/es.workers.vite.config.ts
  desktop/package.json
  desktop/resources/release_notes.json
Labels: Actions, APP

#537 DAP-1221: Fix libsafe upload
  backend/src/modules/transfer/controllers/preserve.ts
  desktop/resources/release_notes.json
  desktop/src/renderer/index.html
Labels: API, APP

#539 DAP-1225: API chunking (LAN Transfer)
  backend/jest.config.js
  backend/src/modules/transfer/controllers/lan.ts
  backend/src/modules/transfer/schemas/transfer.ts
  backend/src/modules/transfer/utils/handleTransferChunkUpload.ts
  backend/src/modules/transfer/utils/index.ts
  backend/src/modules/uploads/TR_test_accession_test_app/chunk_0.bin
  backend/src/modules/uploads/TR_test_accession_test_app/chunk_1.bin
  backend/src/utils/logs.ts
  backend/tests/utils/generateChecksum.test.ts
Labels: API

#540 DAP-1225: Desktop app chunking for LAN transfer
  desktop/src/renderer/src/components/transfer/finish-view/RequestLoading.tsx
  desktop/src/renderer/src/pages/transfers/LanTransfer.tsx
  desktop/src/renderer/src/pages/transfers/utils/calculateChecksum.ts
  desktop/src/renderer/src/pages/transfers/utils/index.ts
Labels: APP

#541 Test logs
  backend/src/modules/transfer/controllers/lan.ts
  desktop/resources/release_notes.json
Labels: API, APP

#542 test2
  .gitignore
  backend/src/modules/transfer/controllers/lan.ts
  backend/src/modules/transfer/utils/handleTransferChunkUpload.ts
  backend/src/modules/uploads/TR_test_accession_test_app/chunk_0.bin
  backend/src/modules/uploads/TR_test_accession_test_app/chunk_1.bin
Labels: API

#538 DAP-1224: Prevent save current version to release notes in dev
  desktop/src/main/index.ts
Labels: APP

#545 DAP-1225: Transfer EDRMS chunking
  desktop/src/renderer/src/pages/transfers/EdrmsTransfer.tsx
Labels: APP

#544 DAP-1225: Transfer zip chunking api
  backend/src/modules/transfer/controllers/create.ts
  backend/src/modules/transfer/controllers/edrms.ts
  backend/src/modules/transfer/controllers/lan.ts
  backend/src/modules/transfer/schemas/transfer.ts
  backend/src/modules/transfer/utils/callTransferEndpoint.ts
  backend/src/modules/transfer/utils/handleTransferChunkUpload.ts
  backend/src/utils/formatFileSize.ts
  backend/src/utils/index.ts
  backend/tests/modules/transfer/schemas/transfer.test.ts
  backend/tests/utils/formatFileSize.test.ts
Labels: API

#546 DAP-1122: Submission agreement decline endpoint
  backend/src/modules/submission-agreement/controllers/decline.ts
  backend/src/modules/submission-agreement/router.ts
  backend/src/modules/submission-agreement/schemas/decline.ts
  backend/src/modules/submission-agreement/schemas/index.ts
  backend/src/modules/submission-agreement/utils/email.ts
  backend/src/modules/submission-agreement/utils/index.ts
Labels: API

#547 DAP-1122: Submission agreement declines
  desktop/src/renderer/src/components/transfer/edrms-views/EdrmsSubmissionAgreementView.tsx
  desktop/src/renderer/src/components/transfer/lan-views/LanSubmissionAgreementView.tsx
  desktop/src/renderer/src/pages/transfers/EdrmsTransfer.tsx
  desktop/src/renderer/src/pages/transfers/LanTransfer.tsx
Labels: APP

#548 Dap 1220 refactor react router
  .gitignore
  desktop/.gitignore
  desktop/package.json
  desktop/src/hooks/index.ts
  desktop/src/hooks/useAuth/AuthContext.tsx
  desktop/src/hooks/useAuth/AuthProvider.tsx
  desktop/src/hooks/useAuth/index.ts
  desktop/src/hooks/useAuth/useAuth.tsx
  desktop/src/hooks/useNavigate/NavigateContext.tsx
  desktop/src/hooks/useNavigate/NavigateProvider.tsx
  desktop/src/hooks/useNavigate/index.ts
  desktop/src/hooks/useNavigate/useNavigate.tsx
  desktop/src/hooks/useReleaseNotes.tsx
  desktop/src/renderer/src/App.tsx
  desktop/src/renderer/src/components/Layout.tsx
  desktop/src/renderer/src/components/LeavePageModal.tsx
  desktop/src/renderer/src/components/NavigateAwayModal.tsx
  desktop/src/renderer/src/components/SideNav.tsx
  desktop/src/renderer/src/components/index.ts
  desktop/src/renderer/src/components/transfer/edrms-views/EdrmsSubmissionAgreementView.tsx
  desktop/src/renderer/src/components/transfer/finish-view/FinishView.tsx
  desktop/src/renderer/src/components/transfer/finish-view/RequestFailed.tsx
  desktop/src/renderer/src/components/transfer/lan-views/LanSubmissionAgreementView.tsx
  desktop/src/renderer/src/main.tsx
  desktop/src/renderer/src/pages/FileList.tsx
  desktop/src/renderer/src/pages/FileListInstructions.tsx
  desktop/src/renderer/src/pages/Home.tsx
  desktop/src/renderer/src/pages/SendRecords.tsx
  desktop/src/renderer/src/pages/transfers/EdrmsInstructions.tsx
  desktop/src/renderer/src/pages/transfers/EdrmsTransfer.tsx
  desktop/src/renderer/src/pages/transfers/LanInstructions.tsx
  desktop/src/renderer/src/pages/transfers/LanTransfer.tsx
  desktop/src/renderer/src/pages/transfers/ViewTransfers.tsx
  desktop/src/renderer/src/routes.tsx
  desktop/src/renderer/src/utilities/index.ts
  desktop/src/renderer/src/utilities/vpnMonitor.tsx
Labels: APP

#549 refactor homepage
  desktop/src/hooks/useAuth/AuthContext.tsx
  desktop/src/hooks/useAuth/AuthProvider.tsx
  desktop/src/hooks/useNavigate/NavigateProvider.tsx
  desktop/src/renderer/src/components/Accordion/Accordion.tsx
  desktop/src/renderer/src/components/Accordion/AccordionDetails.tsx
  desktop/src/renderer/src/components/Accordion/AccordionSummary.tsx
  desktop/src/renderer/src/components/Accordion/index.ts
  desktop/src/renderer/src/components/AuthButton.tsx
  desktop/src/renderer/src/components/HowDatsWorksAccordion.tsx
  desktop/src/renderer/src/components/Instruction.tsx
  desktop/src/renderer/src/components/Instruction/Instruction.d.tsx
  desktop/src/renderer/src/components/Instruction/Instruction.tsx
  desktop/src/renderer/src/components/Instruction/index.ts
  desktop/src/renderer/src/components/PageLinkCard/PageLinkCard.tsx
  desktop/src/renderer/src/components/PageLinkCard/PageLinkCards.d.ts
  desktop/src/renderer/src/components/PageLinkCard/index.ts
  desktop/src/renderer/src/components/SideNav.tsx
  desktop/src/renderer/src/components/SideNav/NavItem.d.tsx
  desktop/src/renderer/src/components/SideNav/NavItem.tsx
  desktop/src/renderer/src/components/SideNav/SideNav.tsx
  desktop/src/renderer/src/components/SideNav/index.ts
  desktop/src/renderer/src/components/SideNav/navItemData.tsx
  desktop/src/renderer/src/components/index.ts
  desktop/src/renderer/src/pages/Home.tsx
  desktop/src/renderer/src/pages/home/HomePage.tsx
  desktop/src/renderer/src/pages/home/HowDatsWorks.tsx
  desktop/src/renderer/src/pages/home/index.ts
  desktop/src/renderer/src/pages/home/instructionData.tsx
  desktop/src/renderer/src/pages/home/pageLinkData.tsx
  desktop/src/renderer/src/pages/index.ts
  desktop/src/renderer/src/pages/transfers/EdrmsTransfer.tsx
  desktop/src/renderer/src/pages/transfers/LanTransfer.tsx
Labels: APP

#551 Stacked notifications
  desktop/src/renderer/src/components/Layout.tsx
Labels: APP

#550 Fix metadata collection errors
  desktop/src/main/fileProcessing/workers/utilities/generateMetadataInBatches.ts
  desktop/src/main/fileProcessing/workers/utilities/getExtendedMetadata.ts
  desktop/src/main/fileProcessing/workers/utilities/getExtendedMetadataBatch.ts
  desktop/src/main/fileProcessing/workers/utilities/index.ts
  desktop/src/main/fileProcessing/workers/utilities/runWithConcurrencyLimit.ts
  desktop/src/main/fileProcessing/workers/utilities/scripts/getExtendedMetadata.ps1
Labels: APP

#552 DAP-1237: Fix delete folder error
  backend/src/modules/transfer/schemas/transfer.ts
Labels: API
